%nav.features-navigation
  %ul
    %li
      %a{href: 'weekly_ad'}
        %span.icon-tag.nav-icon{:escape_attrs => true}
        Weekly Ad
    %li
      %a{href: 'newsletters'}
        %span.icon-mail.nav-icon{:escape_attrs => true}
        Grocery Newsletters
    %li
      %a{href: 'mobile'}
        %span.icon-mobile.nav-icon{:escape_attrs => true}
        Mobile Technology
    %li
      %a{href: 'recipes'}
        %span.icon-recipe.nav-icon{:escape_attrs => true}
        Recipes
    %li
      %a{href: 'coupons'}
        %span.icon-coupons.nav-icon{:escape_attrs => true}
        Digital Coupons
    %li
      %a{href: 'shopping_list'}
        %span.icon-list.nav-icon{:escape_attrs => true}
        Shopping List


