= stylesheet_link_tag    "detail_pages"

#recipes
  %section#feature-header
    .container
      .row-fluid
        .span6.screenshot
          .center-image
            = image_tag "index/coupons.png"
        .span6
          %h1
            Digital Coupons
          %ul
            %li
              Redemption of internet coupons grew 360% last year
            %li
              92.5 million internet users will use internet coupons in 2012
            %li
              Shopping basket increases over 25% with digital coupons

          %p
            Retailer and manufacturer sponsored coupons provide great consumer savings and high website return visits. With high traffic weekly ads, recipes and coupons in a well-organized shopping list, consumers shop your stores for great value and convenience.
  
  .container
    %section#body-text  
      .row-fluid
        .span8
          %h2
            Coupon Features

          %p
            Webstop integrates with paperless digital coupons and print-at-home coupons providing an engaging experience for your shoppers:
            
          %ul.feature-detail
            %li
              %span.icon-coupons.icon
              Paperless coupons - quick and easy click-to-card
            %li
              %span.icon-star.icon
              Loyalty program integration, but not required
            %li
              %span.icon-interface.icon
              Print-At-Home - the most coupon content available
            %li
              %span.icon-tag.icon
              Coupons in weekly ads with intelligent matching features
            %li
              %span.icon-recipe.icon
              Coupons in thousands of recipes
            %li
              %span.icon-list.icon
              Shopping List integration with a single click
            %li
              %span.icon-mobile.icon
              All digital chanels - website, mobile, and email

          %a.btn.btn-primary{:href => 'index#contact-us'} Curious? Contact Us For More Information
        .span4
          .features-nav-section
            %h4.heading More Features To Explore
            = render 'grocery_digital_marketing/features_navigation'
