= stylesheet_link_tag    "detail_pages"

#recipes
  %section#feature-header
    .container
      %h1
        Digital Coupons
      %p
        Paperless and print-at-home, the most savings in one place
  
  .container
    %section#body-text  
      .row-fluid
        .span8
          %h2
            Overview
          %ul
            %li
              Redemption of internet coupons grew 360% last year
            %li
              92.5 million internet users will use internet coupons in 2012
            %li
              Shopping basket increases over 25% with digital coupons

          %p
            Retailer and manufacturer sponsored coupons provide great consumer savings and high website return visits. With high traffic weekly ads, recipes and coupons in a well-organized shopping list, consumers shop your stores for great value and convenience.
          %h2
            Digital Coupon Features

          %p
            Webstop's Weekly Ad provides and engaging digital experience for your shoppers:
            
          %ul.feature-detail
            %li
              %span.icon-coupons.icon
              Paperless coupons - quick and easy click-to-card
            %li
              %span.icon-star.icon
              Loyalty program integration, but not required
            %li
              %span.icon-interface.icon
              Print-At-Home - the most coupon content available
            %li
              %span.icon-recipe.icon
              Coupons in thousands of recipes and digital weekly ads
            %li
              %span.icon-user.icon
              Single login, consolidated shopping list
            %li
              %span.icon-mobile.icon
              All digital chanels - website, mobile, and email
        .span4
          .image-center
            = image_tag "index/coupons.png"
          %div.center-button
            %a.btn.btn-primary{:href => 'index#contact-us'} Curious? Contact Us For More Info