= stylesheet_link_tag    "index"

%section#home
  .row-fluid
    .span6
      = image_tag "index/what-we-do.png"

    .span6
      %h1
        Digital Marketing Solutions for&nbsp;Grocers
      %p
        Webstop provides digital marketing tools that increase shopper engagement and build additional visits to your stores. Webstop's 15 years of experience with grocery digital marketing provides them the knowledge to help you. No matter your positioning and size in the grocery industry, Webstop has the solution for you.

      %div.center-button-small-screen
        %a.btn.btn-primary{href: '#solutions'} Find Your Solution

%section#solutions
  %h1
    Retailer Solutions
  .row-fluid
    .span4
      .retailer-type
        %span.icon-chains
        Large Chains
      .retailer-col
        .solution-overview
          %p
            Large chains need digital marketing features tailored to their brand. Webstop digital marketing solutions for chains include advanced features as the starting point and the custom features unique to each chain.
          %ul
            %li
              Unique, retailer specific designs, layouts and advanced features
            %li
              Integrated with Webstop content & Grocery Website Modules
            %li
              Reinforces retailer brand and marketing programs
        .solution-example
          %h3
            Example
          .center-image
            =image_tag 'index/tops-logo.jpg'
          %p
            Webstop provides TOPS Friendly Markets with a fully customized solution to meet their brand needs. For TOPS Coupon Central, Webstop developed the most advanced integration of paperless digital coupons available. Coupons are now available via the website and mobile.
            %a{href: 'http://www.topsmarkets.com', target: '_blank'} View the Site ›
        .center-button
          %a.btn.btn-primary{href: '#features'} Learn More About Our Features
    .span4
      .retailer-type
        %span.icon-wholesalers
        Wholesalers
      .retailer-col
        .solution-overview
          %p
            Wholesalers need a digital marketing solution for their independent retailers. The solution should offer varying levels of engagement based on retailer need and advanced features that keep shoppers coming back.
          %p
            Webstop's Multi-Retailer Digital System provides a unique website, mobile site and email newsletter feature for each independent retailer but also the ability to manage all retailer assets from one central location.
        .solution-example
          %h3
            Example
          .center-image
            =image_tag 'index/iga-logo.jpg'
          %p
            Webstop's Multi-Retailer Digital System for Wholesalers was perfect for IGA.
          %p
            Webstop launched 800 websites and mobile sites on the same day for IGA, and IGAs across the U.S. are now using these sites to engage with their shoppers and increase sales.
            %a{href: 'http://www.igalink.iga.com', target: '_blank'} Learn More ›
        .center-button
          %a.btn.btn-primary{href: '#features'} Learn More About Our Features
    .span4
      .retailer-type
        %span.icon-independents
        Independents
      .retailer-col
        .solution-overview
          %p
            Independent retailers need a web presence. While anyone can buy a low cost website, it's important to consider the value the website provides.
          %p
            With Webstop's digital marketing solution for independents, retailers receive a state-of-the-art website and mobile site at an affordable price. Built using the same technology as Webstop's larger chain websites, independents are able to provide the same if not greater digital marketing features than their larger competitors.
        .solution-example
          %h3
            Example
          .center-image
            =image_tag 'index/msm-logo.jpg'
          %p
            Mollie Stone's Markets partnered with Webstop to provide their shoppers with unique digital marketing features that build on Webstop's technology foundation.
            %a{href: 'http://www.molliestones.com', target: '_blank'} View the Site ›
        .center-button
          %a.btn.btn-primary{href: '#features'} Learn More About Our Features

%section#features
  %h1 Features
  = render 'grocery_digital_marketing/features'

%section#contact-us
  %h1
    Contact Us

  .row-fluid
    .span6
      %h3 Send Us an Email
      - @message = Message.new
      = render 'messages/form'
      / %form
      /   %fieldset
      /     .controls
      /       %label Name
      /       %input.span12{:placeholder => "First and last name", :type => "text"}
      /       %label Email
      /       %input.span12{:placeholder => "Email Address", :type => "text"}
      /       %label Phone Number
      /       %input.span12{:placeholder => "555-555-5555", :type => "tel"}
      /       %label Company
      /       %input.span12{:placeholder => "Company Name", :type => "text"}
      /       %label Message
      /       %textarea.span12{:rows => "5"}
      /       %br
      /       %button.btn.btn-primary{:type => "submit"} Submit
    .span6
      =image_tag 'index/location.jpg'

      .row-fluid
        .span6
          %h3
            Address
          %address
            Webstop.com, Inc.
            %br
            3488 East Lake Rd.
            %br
            Suite 201
            %br
            Palm Harbor, FL 34685
        .span6
          %h3
            Phone
          %span
            Voice:
          %a{href: 'tel:+17279422797'} (727) 942-2797
          %br
          %span
            Fax: (727) 386-4112
