%section#home
  .row-fluid
    .span6
      = image_tag "index/what-we-do.png"

    .span6
      %h1
        Digital Marketing Solutions
        %br
        for Grocers
      %p
        Offer your consumers more with interactive circulars optimized for the web. Give your consumers the ability to add sale items to their online shopping list, recipes and clip relevant coupons to print later.

      %div.center-button-small-screen
        %a.btn{:href => '#contact-us'} Contact Us

%section#solutions
  %h1
    Retailer Solutions
  .row-fluid
    %a.retailer-type.span4{:href => '#chains'}
      %span.icon-chains
      Large Chains
    %a.retailer-type.span4{:href => '#wholesalers'}
      %span.icon-wholesalers
      Wholesalers
    %a.retailer-type.span4{:href => '#independents'}
      %span.icon-independents
      Independents

%section#chains
  %h2
    Large Chains

  .row-fluid
    .span4
      %h3
        %span.icon-starburst.icon
        Overview
      %p
        Large chains need digital marketing features tailored to their brand. Webstop digital marketing solutions for chains include advanced features as the starting point and the custom features unique to each chain.
      %ul
        %li
          Unique, retailer specific designs, layouts and advanced features
        %li
          Integrated with Webstop content & Grocery Website Modules
        %li
          Reinforces retailer brand and marketing programs

    .span4
      %h3
        %span.icon-stats.icon
        Value
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

    .span4
      %h3
        %span.icon-web.icon
        Example
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

%section#wholesalers
  %h2
    Wholesalers

  .row-fluid
    .span4
      %h3
        %span.icon-starburst.icon
        Overview
      %p
        Wholesalers need a digital marketing solution for their independent retailers. The solution should offer varying levels of engagement based on retailer need and advanced features that keep shoppers coming back.
      %p
        Webstop's Multi-Retailer Digital System provides a unique website, mobile site and email newsletter feature for each independent retailer but also the ability to manage all retailer assets from one central location.

    .span4
      %h3
        %span.icon-stats.icon
        Value
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

    .span4
      %h3
        %span.icon-web.icon
        Example
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

%section#independents
  %h2
    Independents

  .row-fluid
    .span4
      %h3
        %span.icon-starburst.icon
        Overview
      %p
        Independent retailers need a web presence. While anyone can buy a low cost website, it's important to consider the value the website provides.
      %p
        With Webstop's digital marketing solution for independents, retailers receive a state-of-the-art website and mobile site at an affordable price. Built using the same technology as Webstop's larger chain websites, independents are able to provide the same if not greater digital marketing features than their larger competitors.

    .span4
      %h3
        %span.icon-stats.icon
        Value
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

    .span4
      %h3
        %span.icon-web.icon
        Example
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

    %div.center-button
      %a.btn{:href => '#contact-us'} Contact Us

%section#features
  %h1
    Features
  .row-fluid
    .span6
      %ul
        %li
          %h3
            %span.icon-tag.icon{:escape_attrs => true}
            Weekly Ad
          %p
            Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          %a{:href => 'weekly_ad'} Learn More
        %li
          %h3
            %span.icon-mobile.icon{:escape_attrs => true}
            Mobile
          %p
            As a retailer you want your information to be available as easily as possible. Websites and email newsletters are an essential foundation for your digital marketing but are no longer enough. Expand your reach by using the movile technology your shoppers want.
          %a{:href => 'mobile'} Learn More
        %li
          %h3
            %span.icon-coupons.icon{:escape_attrs => true}
            Coupons
          %p
            Retailer and manufacturer sponsored digital coupons provide great consumer savings and high website return visits. With high traffic weekly ads, recipes and coupons in a well-organized shopping list, consumers shop your stores for great calue and convenience.
          %a{:href => 'coupons'} Learn More
    .span6
      %ul
        %li
          %h3
            %span.icon-mail.icon{:escape_attrs => true}
            Email Newsletters
          %p
            Webstop's industry-leading Grocery Newsletters includes advanced features that strongly support your digital marketing goals as a retailer. Website traffic will increase, providing more exposure to your brand, quality and value offerings.
          %a{:href => 'newsletters'} Learn More
        %li
          %h3
            %span.icon-recipe.icon{:escape_attrs => true}
            Recipes
          %p
            Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.
          %a{:href => 'recipes'} Learn More
        %li
          %h3
            %span.icon-list.icon{:escape_attrs => true}
            Shopping List
          %p
            Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.
          %a{:href => 'shopping_list'} Learn More

%section#contact-us
  %h1
    Contact Us

  .row-fluid
    .span6
      %h3
        Send Us an Email
      - @message = Message.new
      = render 'messages/form'
      / %form
      /   %fieldset
      /     .controls
      /       %label Name
      /       %input.span12{:placeholder => "First and last name", :type => "text"}
      /       %label Email
      /       %input.span12{:placeholder => "Email Address", :type => "text"}
      /       %label Phone Number
      /       %input.span12{:placeholder => "555-555-5555", :type => "tel"}
      /       %label Company
      /       %input.span12{:placeholder => "Company Name", :type => "text"}
      /       %label Message
      /       %textarea.span12{:rows => "5"}
      /       %br
      /       %button.btn{:type => "submit"} Submit
    .span6
      .responsive-iframe-container
        <iframe width="570" height="193" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Webstop,+3488+East+Lake+Road+South+%23201,+Palm+Harbor,+FL&amp;aq=0&amp;oq=web&amp;sll=27.698638,-83.804601&amp;sspn=11.0762,19.753418&amp;ie=UTF8&amp;hq=webstop+3488+east+lake+road+south+201&amp;hnear=Palm+Harbor,+Pinellas,+Florida&amp;t=m&amp;ll=28.065316,-82.699585&amp;spn=0.033779,0.098019&amp;z=13&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Webstop,+3488+East+Lake+Road+South+%23201,+Palm+Harbor,+FL&amp;aq=0&amp;oq=web&amp;sll=27.698638,-83.804601&amp;sspn=11.0762,19.753418&amp;ie=UTF8&amp;hq=webstop+3488+east+lake+road+south+201&amp;hnear=Palm+Harbor,+Pinellas,+Florida&amp;t=m&amp;ll=28.065316,-82.699585&amp;spn=0.033779,0.098019&amp;z=13" style="color:#0000FF;text-align:left">View Larger Map</a></small>

      .row-fluid
        .span6
          %h3
            Address
          %address
            Webstop.com, Inc.
            %br
            3488 East Lake Rd.
            %br
            Suite 201
            %br
            Palm Harbor, FL 34685
        .span6
          %h3
            Phone
          %span
            Voice:
          %a{:href => 'tel:+17279422797'} (727) 942-2797
          %br
          %span
            Fax: (727) 386-4112
