= javascript_include_tag "scrollto"
= javascript_include_tag "localscroll"

%section#home
  .row-fluid
    .span6
      = image_tag "index/what-we-do.png"
    
    .span6
      %h1
        Digital Marketing Solutions for Grocers
      %p
        Offer your consumers more with interactive circulars optimized for the web. Give your consumers the ability to add sale items to their online shopping list, recipes and clip relevant coupons to print later.
    
      %div.center-button-small-screen
        %a.btn{:href => '#contact-us'} Contact Us

%section#solutions
  %h1
    Retailer Solutions
  .row-fluid  
    %a.retailer-type.span4{:href => '#chains'}
      %span.icon-chains
      Large Chains
    %a.retailer-type.span4{:href => '#wholesalers'} 
      %span.icon-wholesalers
      Wholesalers
    %a.retailer-type.span4{:href => '#independents'} 
      %span.icon-independents
      Independents

%section#chains
  %h2
    Large Chains

  .row-fluid
    .span4
      %h3
        %span.icon-starburst.icon
        Overview
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

    .span4
      %h3
        %span.icon-stats.icon
        Value
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

    .span4
      %h3
        %span.icon-web.icon
        Example
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

%section#wholesalers
  %h2
    Wholesalers

  .row-fluid
    .span4
      %h3
        %span.icon-starburst.icon
        Overview
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

    .span4
      %h3
        %span.icon-stats.icon
        Value
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

    .span4
      %h3
        %span.icon-web.icon
        Example
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

%section#independents
  %h2
    Independents

  .row-fluid
    .span4
      %h3
        %span.icon-starburst.icon
        Overview
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

    .span4
      %h3
        %span.icon-stats.icon
        Value
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

    .span4
      %h3
        %span.icon-web.icon
        Example
      %p
        Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

    %div.center-button
      %a.btn{:href => '#contact-us'} Contact Us

%section#features
  %h1
    Features
  .row-fluid
    .span6
      %ul
        %li
          %h3
            %span.icon-tag.icon{:escape_attrs => true}
            Weekly Ad
          %p
            Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        %li
          %h3
            %span.icon-mobile.icon{:escape_attrs => true}
            Mobile
          %p
            As a retailer you want your information to be available as easily as possible. Websites and email newsletters are an essential foundation for your digital marketing but are no longer enough. Expand your reach by using the movile technology your shoppers want.
        %li
          %h3
            %span.icon-coupons.icon{:escape_attrs => true}
            Coupons
          %p
            Retailer and manufacturer sponsored digital coupons provide great consumer savings and high website return visits. With high traffic weekly ads, recipes and coupons in a well-organized shopping list, consumers shop your stores for great calue and convenience.
    .span6
      %ul
        %li
          %h3
            %span.icon-mail.icon{:escape_attrs => true}
            Email Newsletters
          %p
            Webstop's industry-leading Grocery Newsletters includes advanced features that strongly support your digital marketing goals as a retailer. Website traffic will increase, providing more exposure to your brand, quality and value offerings.
        %li
          %h3
            %span.icon-recipe.icon{:escape_attrs => true}
            Recipes
          %p
            Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.
        %li
          %h3
            %span.icon-list.icon{:escape_attrs => true}
            Shopping List
          %p
            Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.

    %div.center-button
      %a.btn{:href => '#contact-us'} Contact Us

%section#contact-us
  %h1
    Contact Us
  .row-fluid
    .span6
      %h3
        Send Us an Email
      %form
        %fieldset
          %label Name
          %input{:placeholder => "Name", :type => "text"}
          .clear
          %label Email
          %input{:placeholder => "Email", :type => "email"}
          .clear
          %label Phone
          %input{:placeholder => "Phone", :type => "tel"}
          .clear
          %label Company
          %input{:placeholder => "Company", :type => "text"}
          .clear
          %label Message
          %textarea{:placeholder => "Your message…", :type => "text"}
          .clear
          %button.btn{:type => "submit"} Submit
    .span6
      = image_tag "index/location.png"
      .row-fluid
        .span6
          %h3
            Phone
          %span
            Voice:
          %a{:href => 'tel:+17279422797'} (727) 942-2797
          %br
          %span
            Fax: (727) 942-2797
        
        .span6
          %h3
            Address
          %address
            Webstop.com, Inc.
            %br
            3488 East Lake Road
            %br
            Suite 201
            %br
            Palm Harbor, FL 34685