%section#glider
  %h1
    Digital Marketing Solutions for Grocers
  #myCarousel.carousel.slide
    /Carousel items
    .carousel-inner
      .active.item
        .glider-left
          = image_tag "index/shopping-list.png"
        .glider-right
          %h2
            Shopping List
          %p
            Offer your consumers more with interactive circulars optimized for the web. Give your consumers the ability to add sale items to their online shopping list, recipes and clip relevant coupons to print later.
          %a.button{:href => '#'} Learn More
        .clear
      .item
        .glider-left
          = image_tag "index/shopping-list.png"
        .glider-right
          %h2
            Test
          %p
            Offer your consumers more with interactive circulars optimized for the web. Give your consumers the ability to add sale items to their online shopping list, recipes and clip relevant coupons to print later.
          %a.button{:href => '#'} Learn More
        .clear
      .item
        .glider-left
          = image_tag "index/shopping-list.png"
        .glider-right
          %h2
            Test 2
          %p
            Offer your consumers more with interactive circulars optimized for the web. Give your consumers the ability to add sale items to their online shopping list, recipes and clip relevant coupons to print later.
          %a.button{:href => '#'} Learn More
        .clear
      .item
        .glider-left
          = image_tag "index/shopping-list.png"
        .glider-right
          %h2
            Test 3
          %p
            Offer your consumers more with interactive circulars optimized for the web. Give your consumers the ability to add sale items to their online shopping list, recipes and clip relevant coupons to print later.
          %a.button{:href => '#'} Learn More
        .clear


  /Carousel nav
  %a.carousel-control.left{:href => "#"}
  %a.carousel-control.right{:href => "#"}

%section#what-we-do
  %h2
    What We Do
  %p
    Webstop is a leader in digital marketing solutions for the grocery industry. We have the most comprehensive offerings for progressive retail chains, independents, and wholesalers.

  %div.fluid-row
    %ul.left.span6
      %li
        %h3
          %span.icon-web.icon{:escape_attrs => true} Web
        %p
          Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
      %li
        %h3
          %span.icon-mobile.icon{:escape_attrs => true} Mobile
        %p
          Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
      %li
        %h3
          %span.icon-coupons.icon{:escape_attrs => true} Digital Coupons
        %p
          Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
    
    %ul.right.span6
      %li
        %h3
          %span.icon-newsletter.icon{:escape_attrs => true} Email Campaigns
        %p
          Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
      %li
        %h3
          %span.icon-social.icon{:escape_attrs => true} Social Networks
        %p
          Aecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.