= stylesheet_link_tag    "detail_pages"

#mobile
  %section#feature-header
    .container
      .row-fluid
        .span6.screenshot
          .center-image
            = image_tag "index/mobile.png"
        .span6
          %h1
            Mobile Technology
          %ul
            %li
              Smart phone sales are expected to exceed PC sales in 2013
            %li
              43% of mobile users have smart phones
            %li
              Are you reaching your shoppers in the mobile space?

          %p
            As a retailer you want your information to be as available as possible. Websites and email newsletters are an essential foundation for your digital marketing but are no longer enough. Expand your reach by using the mobile technology your shoppers want.
  
  .container
    %section#body-text  
      .row-fluid
        .span8
          %h2
            Mobile Site Features

          %p
            Webstop provides the features shoppers want in a mobile format:
            
          %ul.feature-detail
            %li
              %span.icon-tag.icon
              Interactive digital circular
            %li
              %span.icon-list.icon
              Interactive shopping list for in-store shopping
            %li
              %span.icon-recipe.icon
              Over 6,000 recipes to build sales
            %li
              %span.icon-location.icon
              Store locator with Google Maps integration
            %li
              %span.icon-coupons.icon
              Paperless digital coupons
          %a.btn.btn-primary{:href => 'index#contact-us'} Curious? Contact Us For More Info
        .span4
          .features-nav-section
            %h4.heading More Features To Explore
            = render 'grocery_digital_marketing/features_navigation'
            