= stylesheet_link_tag    "detail_pages"

#weekly-ad  
  %section#feature-header
    .row-fluid
      .span4
        = image_tag "index/newsletter.png"
      .span8
        %h1
          Grocery Newsletters
        %p
          Expand your reach with advanced email newsletters
  
  %section#body-text  
    .row-fluid
      .span8.offset4
        %h2
          Overview
        %ul
          %li
            Powerful communication direct to customers
          %li
            Let shoppers know about sales, promos, contests, food ideas
          %li
            Improved customer interaction leads to increased sales

        %p
          Webstop's industry-leading Grocery Newsletters include advanced features that strongly support your digital marketing goals as a retailer. Website traffic will increase providing more exposure your brand, quality and value offerings.

        %h2
          Grocery Newsletter Features
          
        %ul.feature-detail
          %li
            %span.icon-photos.icon
            Attractive, attention-getting designs
          %li
            %span.icon-interface.icon
            Content supplied by Webstop or retailer
          %li
            %span.icon-user.icon
            Auto login for great consumer experience
          %li
            %span.icon-settings.icon
            Easy opt-in
          %li
            %span.icon-star.icon
            Personalized, targeted options
          %li
            %span.icon-stats.icon
            Powerful online analytic reports
          %li
            %span.icon-web.icon
            Extensive website integration