= stylesheet_link_tag    "detail_pages"

#recipes
  %section#feature-header
    .container  
      %h1
        Recipes
      %p
        Engage consumers with recipes via website, mobile and email
  
  .container  
    %section#body-text  
      .row-fluid
        .span8
          %h2
            Overview
          %ul
            %li
              High traffic feature encourages shoppers to increase size of shopping list
            %li
              Recipes are displayed on retailer's domain name to reinforce retailer brand
            %li
              High-end features easily customized for retailer exclusive food ideas

          %p
            Webstop offers thousands of delicious recipes that integrate with your weekly ad, shopping list and coupons to save shoppers time and money while enhancing their shopping experience. All recipes available on website, mobile and email.

          %h2
            Recipe Features
            
          %ul.feature-detail
            %li
              %span.icon-photos.icon
              Beautiful recipe photos in multiple sizes
            %li
              %span.icon-heart.icon
              Nutritional Data
            %li
              %span.icon-recipe.icon
              Recipe ingredients on sale - just click to reveal sale price
            %li
              %span.icon-cookbook.icon
              MyCookbook for personalized recipe set
            %li
              %span.icon-camera.icon
              Webstop can cook and style professional photos
            %li
              %span.icon-star.icon
              Retailer exclusive recipes too
        .span4
          .image-center
            = image_tag "index/weekly-ad.png"
          %div.center-button
            %a.btn.btn-primary{:href => 'index#contact-us'} Curious? Contact Us For More Info