= stylesheet_link_tag    "detail_pages"

#shopping-list
  %section#feature-header
    .container
      %h1
        Shopping List
      %p
        Help shoppers organize a list that works best in your store.
  .container
    %section#body-text
      .row-fluid
        .span8
          %h2
            Overview
          %ul
            %li Shoppers who create an online shopping list buy 25% more per trip
            %li Consolidated shopping lists save time and missed items
            %li Web, mobile and email digital channels are necessary

          %p
            A retailer's digital presence isn't complete without a comprehensive, interactive shopping list. Quick list creation with weekly ad items, recipes, digital coupons and easy entry helps consumers shop quickly and be confident that they purchased everything they need.

          %h2
            Shopping List Features

          %ul.feature-detail
            %li
              %span.icon-list.icon
              One list with all important entries from digital circular, recipes, coupons
            %li
              %span.icon-mobile.icon
              Create on website or mobile
            %li
              %span.icon-interface.icon
              Same data on all digital media
            %li
              %span.icon-healthy.icon
              Organized by department for easy shopping
            %li
              %span.icon-tag.icon
              Sale prices, expiration date and purchase requirements included
            %li
              %span.icon-tree.icon
              Print version, mobile and email
            %li
              %span.icon-cart.icon
              Mobile features tailored for in-store experience, "Groceries in Cart" tracking
        .span4
          .image-center
            = image_tag "index/shopping-list.png"
          %div.center-button
            %a.btn.btn-primary{:href => 'index#contact-us'} Curious? Contact Us For More Info
