= stylesheet_link_tag    "detail_pages"

#weekly-ad  
  %section#feature-header
    %h1
      Shopping List
    %p
      Capture shopper attention with a Weekly Ad designed for the digital world
  
  %section#body-text  
    .row-fluid
      .span8
        %h2
          Overview
        %ul
          %li
            Shoppers who access weekly ads online spend more in store - Nielson
          %li
            The weekly ad is the most popular feature on grocery websites
          %li
            93% of retailers display their weekly ad online, so how are you differentiating yours?

        %p
          Webstop has the weekly ad and shopping list technology for the next generation  of shoppers and their retailers. Build shopper engagement by making the digital ad transition now.

        %h2
          Weekly Ad and Shopping List Features

        %p
          Webstop's Weekly Ad provides and engaging digital experience for your shoppers:
          
        %ul.feature-detail
          %li
            %span.icon-display.icon
            Designed for digital, not a low-res version of print ad
          %li
            %span.icon-search.icon
            Multiple browse and search options
          %li
            %span.icon-list.icon
            Shopping List integration with a single click
          %li
            %span.icon-recipe.icon
            Recipe links displayed with suggested meal ideas
          %li
            %span.icon-mobile.icon
            Mobile weekly ad with same digital content
          %li
            %span.icon-coupons.icon
            Digital coupon integration in weekly ad
      .span4
        = image_tag "index/shopping-list.png"
        %div.center-button
          %a.btn{:href => 'index#contact-us'} Implement a Shopping List Now