<!-- Buttons
================================================== -->
<section id="buttons">
  <div class="page-header">
    <h1>Buttons</h1>
  </div>

  <h2>Example uses</h2>
  <p>Do more with buttons. Control button states or create groups of buttons for more components like toolbars.</p>

  <h4>Stateful</h4>
  <p>Add data-loading-text="Loading..." to use a loading state on a button.</p>
  <div class="bs-docs-example" style="padding-bottom: 24px;">
    <button type="button" id="fat-btn" data-loading-text="loading..." class="btn btn-primary">
      Loading state
    </button>
  </div>
  <div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="buttons-haml">
%button.btn.btn-primary{"data-loading-text" => "Loading...", :type => "button"} Loading state
</pre>
<pre class="prettyprint linenums tab-pane fade" id="buttons-html">
&lt;button type="button" class="btn btn-primary" data-loading-text="Loading..."&gt;Loading state&lt;/button&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#buttons-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#buttons-html" data-toggle="tab">HTML</a></li>
</ul>

  <h4>Single toggle</h4>
  <p>Add data-toggle="button" to activate toggling on a single button.</p>
  <div class="bs-docs-example" style="padding-bottom: 24px;">
    <button type="button" class="btn btn-primary" data-toggle="button">Single Toggle</button>
  </div>
  <div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="buttons-single-toggle-haml">
%button.btn{"data-toggle" => "button", :type => "button"} Single Toggle
</pre>
<pre class="prettyprint linenums tab-pane fade" id="buttons-single-toggle-html">
&lt;button type="button" class="btn" data-toggle="button"&gt;Single Toggle&lt;/button&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#buttons-single-toggle-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#buttons-single-toggle-html" data-toggle="tab">HTML</a></li>
</ul>

  <h4>Checkbox</h4>
  <p>Add data-toggle="buttons-checkbox" for checkbox style toggling on btn-group.</p>
  <div class="bs-docs-example" style="padding-bottom: 24px;">
    <div class="btn-group" data-toggle="buttons-checkbox">
      <button type="button" class="btn btn-primary">Left</button>
      <button type="button" class="btn btn-primary">Middle</button>
      <button type="button" class="btn btn-primary">Right</button>
    </div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="checkbox-haml">
.btn-group{"data-toggle" => "buttons-checkbox"}
  %button.btn{:type => "button"} Left
  %button.btn{:type => "button"} Middle
  %button.btn{:type => "button"} Right
</pre>
<pre class="prettyprint linenums tab-pane fade" id="checkbox-html">
&lt;div class="btn-group" data-toggle="buttons-checkbox"&gt;
&lt;button type="button" class="btn"&gt;Left&lt;/button&gt;
&lt;button type="button" class="btn"&gt;Middle&lt;/button&gt;
&lt;button type="button" class="btn"&gt;Right&lt;/button&gt;
&lt;/div&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#checkbox-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#checkbox-html" data-toggle="tab">HTML</a></li>
</ul>

  <h4>Radio</h4>
  <p>Add data-toggle="buttons-radio" for radio style toggling on btn-group.</p>
  <div class="bs-docs-example" style="padding-bottom: 24px;">
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn btn-primary">Left</button>
      <button type="button" class="btn btn-primary">Middle</button>
      <button type="button" class="btn btn-primary">Right</button>
    </div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="radio-haml">
.btn-group{"data-toggle" => "buttons-radio"}
  %button.btn{:type => "button"} Left
  %button.btn{:type => "button"} Middle
  %button.btn{:type => "button"} Right
</pre>
<pre class="prettyprint linenums tab-pane fade" id="radio-html">
&lt;div class="btn-group" data-toggle="buttons-radio"&gt;
&lt;button type="button" class="btn"&gt;Left&lt;/button&gt;
&lt;button type="button" class="btn"&gt;Middle&lt;/button&gt;
&lt;button type="button" class="btn"&gt;Right&lt;/button&gt;
&lt;/div&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#radio-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#radio-html" data-toggle="tab">HTML</a></li>
</ul>


  <hr class="bs-docs-separator">


  <h2>Usage</h2>
  <p>Enable buttons via JavaScript:</p>
  <pre class="prettyprint linenums">$('.nav-tabs').button()</pre>

  <h3>Markup</h3>
  <p>Data attributes are integral to the button plugin. Check out the example code below for the various markup types.</p>

  <h3>Options</h3>
  <p><em>None</em></p>

  <h3>Methods</h3>
  <h4>$().button('toggle')</h4>
  <p>Toggles push state. Gives the button the appearance that it has been activated.</p>
  <div class="alert alert-info">
    <strong>Heads up!</strong>
    You can enable auto toggling of a button by using the <code>data-toggle</code> attribute.
  </div>
  <div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="buttons-toggle-haml">
%button.btn{"data-toggle" => "button", :type => "button"} …
</pre>
<pre class="prettyprint linenums tab-pane fade" id="buttons-toggle-html">
&lt;button type="button" class="btn" data-toggle="button" &gt;…&lt;/button&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#buttons-toggle-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#buttons-toggle-html" data-toggle="tab">HTML</a></li>
</ul>
  <h4>$().button('loading')</h4>
  <p>Sets button state to loading - disables button and swaps text to loading text. Loading text should be defined on the button element using the data attribute <code>data-loading-text</code>.
  </p>
  <div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="buttons-loading-haml">
%button.btn{"data-loading-text" => "loading stuff...", :type => "button"} ...
</pre>
<pre class="prettyprint linenums tab-pane fade" id="buttons-loading-html">
&lt;button type="button" class="btn" data-loading-text="loading stuff..." &gt;...&lt;/button&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#buttons-loading-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#buttons-loading-html" data-toggle="tab">HTML</a></li>
</ul>
  <div class="alert alert-info">
    <strong>Heads up!</strong>
    <a href="https://github.com/twitter/bootstrap/issues/793">Firefox persists the disabled state across page loads</a>. A workaround for this is to use <code>autocomplete="off"</code>.
  </div>
  <h4>$().button('reset')</h4>
  <p>Resets button state - swaps text to original text.</p>
  <h4>$().button(string)</h4>
  <p>Resets button state - swaps text to any data defined text state.</p>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="buttons-string-haml">
%button.btn{"data-complete-text" => "finished!", :type => "button"} ...
:javascript
  $('.btn').button('complete')
</pre>
<pre class="prettyprint linenums tab-pane fade" id="buttons-string-html">
&lt;button type="button" class="btn" data-complete-text="finished!" &gt;...&lt;/button&gt;
&lt;script&gt;
$('.btn').button('complete')
&lt;/script&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#buttons-string-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#buttons-string-html" data-toggle="tab">HTML</a></li>
</ul>

</section>
