<!-- Cycle
================================================== -->
<section id="cycle">
  <div class="page-header">
    <h1>Cycle <small>(seperate include)</small></h1>
  </div>
  <p>When you need more options than the Carousel plugin provides you can include the Cycle plugin on your page.</p>

  <h2>Adding the Cycle plugin</h2>
  <p>Use the following Rails code at the top of your view file to enable this plugin.</p>
<pre class="prettyprint linenums">
= javascript_include_tag "cycle"
</pre>

  <h2>Options</h2>
  <p>You can find a complete list of options and examples at the <a href="http://jquery.malsup.com/cycle/" target="_blank">Cycle Plugin website</a>.</p>
  <a href="http://jquery.malsup.com/cycle/" target="_blank" class="btn btn-primary">View Documentation</a>
</section>
