<!-- Dropdowns
================================================== -->
<section id="dropdowns">
  <div class="page-header">
    <h1>Dropdown menus</h1>
  </div>

  <h2>Example</h2>
  <p>Toggleable, contextual menu for displaying lists of links. Made interactive with the <a href="./javascript.html#dropdowns">dropdown javascript plugin</a>.</p>
  <div class="bs-docs-example">
    <div class="dropdown clearfix">
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
        <li><a tabindex="-1" href="#">Action</a></li>
        <li><a tabindex="-1" href="#">Another action</a></li>
        <li><a tabindex="-1" href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="dropdown-menu-haml">
%ul.dropdown-menu{"aria-labelledby" => "dropdownMenu", :role => "menu"}
  %li
    %a{:href => "#", :tabindex => "-1"} Action
  %li
    %a{:href => "#", :tabindex => "-1"} Another action
  %li
    %a{:href => "#", :tabindex => "-1"} Something else here
  %li.divider
  %li
    %a{:href => "#", :tabindex => "-1"} Separated link
</pre>
<pre class="prettyprint linenums tab-pane fade" id="dropdown-menu-html">
&lt;ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"&gt;
&lt;li&gt;&lt;a tabindex="-1" href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a tabindex="-1" href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a tabindex="-1" href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
&lt;li class="divider"&gt;&lt;/li&gt;
&lt;li&gt;&lt;a tabindex="-1" href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#dropdown-menu-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#dropdown-menu-html" data-toggle="tab">HTML</a></li>
</ul>

  <h2>Markup</h2>
  <p>Looking at just the dropdown menu, here's the required HTML. You need to wrap the dropdown's trigger and the dropdown menu within <code>.dropdown</code>, or another element that declares <code>position: relative;</code>. Then just create the menu.</p>

<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="dropdown-markup-haml">
.dropdown
  / Link or button to toggle dropdown
  %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
    %li
      %a{:href => "#", :tabindex => "-1"} Action
    %li
      %a{:href => "#", :tabindex => "-1"} Another action
    %li
      %a{:href => "#", :tabindex => "-1"} Something else here
    %li.divider
    %li
      %a{:href => "#", :tabindex => "-1"} Separated link
</pre>
<pre class="prettyprint linenums tab-pane fade" id="dropdown-markup-html">
&lt;div class="dropdown"&gt;
&lt;!-- Link or button to toggle dropdown --&gt;
&lt;ul class="dropdown-menu" role="menu" aria-labelledby="dLabel"&gt;
&lt;li&gt;&lt;a tabindex="-1" href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a tabindex="-1" href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a tabindex="-1" href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
&lt;li class="divider"&gt;&lt;/li&gt;
&lt;li&gt;&lt;a tabindex="-1" href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
<li class="active"><a href="#dropdown-markup-haml" data-toggle="tab">HAML</a></li>
<li><a href="#dropdown-markup-html" data-toggle="tab">HTML</a></li>
</ul>  

  <h2>Options</h2>
  <p>Align menus to the right and add include additional levels of dropdowns.</p>

  <h3>Aligning the menus</h3>
  <p>Add <code>.pull-right</code> to a <code>.dropdown-menu</code> to right align the dropdown menu.</p>

<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="dropdown-menu-alignment-haml">
%ul.dropdown-menu.pull-right{"aria-labelledby" => "dLabel", :role => "menu"}
  Lorem ipsum dolor sit amet.
</pre>
<pre class="prettyprint linenums tab-pane fade" id="dropdown-menu-alignment-html">
&lt;ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel"&gt;
Lorem ipsum dolor sit amet.
&lt;/ul&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#dropdown-menu-alignment-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#dropdown-menu-alignment-html" data-toggle="tab">HTML</a></li>
</ul>

  <h3>Sub menus on dropdowns</h3>
  <p>Add an extra level of dropdown menus, appearing on hover like those of OS X, with some simple markup additions. Add <code>.dropdown-submenu</code> to any <code>li</code> in an existing dropdown menu for automatic styling.</p>
  <div class="bs-docs-example">
    <div class="dropdown clearfix">
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
        <li><a tabindex="-1" href="#">Action</a></li>
        <li><a tabindex="-1" href="#">Another action</a></li>
        <li><a tabindex="-1" href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-submenu">
          <a tabindex="-1" href="#">More options</a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level link</a></li>
            <li><a tabindex="-1" href="#">Second level link</a></li>
            <li><a tabindex="-1" href="#">Second level link</a></li>
            <li><a tabindex="-1" href="#">Second level link</a></li>
            <li><a tabindex="-1" href="#">Second level link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="dropdown-submenu-haml">
%ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
  Lorem ipsum dolor sit amet.
  %li.dropdown-submenu
    %a{:href => "#", :tabindex => "-1"} More options
    %ul.dropdown-menu
      Lorem ipsum dolor sit amet.
</pre>
<pre class="prettyprint linenums tab-pane fade" id="dropdown-submenu-html">
&lt;ul class="dropdown-menu" role="menu" aria-labelledby="dLabel"&gt;
Lorem ipsum dolor sit amet.
&lt;li class="dropdown-submenu"&gt;
&lt;a tabindex="-1" href="#"&gt;More options&lt;/a&gt;
&lt;ul class="dropdown-menu"&gt;
Lorem ipsum dolor sit amet.
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#dropdown-submenu-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#dropdown-submenu-html" data-toggle="tab">HTML</a></li>
</ul>

</section>
