<!-- Navbar
================================================== -->
<section id="navbar">
  <div class="page-header">
    <h1>Navbar</h1>
  </div>


  <h2>Basic navbar</h2>
  <p>To start, navbars are static (not fixed to the top) and include support for a project name and basic navigation. Place one anywhere within a <code>.container</code>, which sets the width of your site and content.</p>
  <div class="bs-docs-example">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Title</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="basic-navbar-haml">
.navbar
  .navbar-inner
    %a.brand{:href => "#"} Title
    %ul.nav
      %li.active
        %a{:href => "#"} Home
      %li
        %a{:href => "#"} Link
      %li
        %a{:href => "#"} Link
</pre>
<pre class="prettyprint linenums tab-pane fade" id="basic-navbar-html">
&lt;div class="navbar"&gt;
&lt;div class="navbar-inner"&gt;
&lt;a class="brand" href="#"&gt;Title&lt;/a&gt;
&lt;ul class="nav"&gt;
&lt;li class="active"&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#basic-navbar-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#basic-navbar-html" data-toggle="tab">HTML</a></li>
</ul>


  <hr class="bs-docs-separator">


  <h2>Navbar components</h2>

  <h3>Brand</h3>
  <p>A simple link to show your brand or project name only requires an anchor tag.</p>
  <div class="bs-docs-example">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Title</a>
      </div>
    </div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="nav-brand-haml">
%a.brand{:href => "#"} Project name
</pre>
<pre class="prettyprint linenums tab-pane fade" id="nav-brand-html">
&lt;a class="brand" href="#"&gt;Project name&lt;/a&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#nav-brand-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#nav-brand-html" data-toggle="tab">HTML</a></li>
</ul>

  <h3>Nav links</h3>
  <p>Nav items are simple to add via unordered lists.</p>
  <div class="bs-docs-example">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="nav-links-haml">
%ul.nav
  %li.active
    %a{:href => "#"} Home
  %li
    %a{:href => "#"} Link
  %li
    %a{:href => "#"} Link
</pre>
<pre class="prettyprint linenums tab-pane fade" id="nav-links-html">
&lt;ul class="nav"&gt;
&lt;li class="active"&gt;
&lt;a href="#">Home&lt;/a&gt;
&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#nav-links-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#nav-links-html" data-toggle="tab">HTML</a></li>
</ul>

  <p>You can easily add dividers to your nav links with an empty list item and a simple class. Just add this between links:</p>
  <div class="bs-docs-example">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">Link</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">Link</a></li>
          <li class="divider-vertical"></li>
        </ul>
      </div>
    </div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="nav-links-divider-haml">
%ul.nav
  Lorem
  %li.divider-vertical
  Ipsum
</pre>
<pre class="prettyprint linenums tab-pane fade" id="nav-links-divider-html">
&lt;ul class="nav"&gt;
Lorem
&lt;li class="divider-vertical"&gt;&lt;/li&gt;
Ipsum
&lt;/ul&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#nav-links-divider-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#nav-links-divider-html" data-toggle="tab">HTML</a></li>
</ul>

  <h3>Forms</h3>
  <p>To properly style and position a form within the navbar, add the appropriate classes as shown below. For a default form, include <code>.navbar-form</code> and either <code>.pull-left</code> or <code>.pull-right</code> to properly align it.</p>
  <div class="bs-docs-example">
    <div class="navbar">
      <div class="navbar-inner">
        <form class="navbar-form pull-left">
          <input type="text" class="span2">
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="forms-haml">
%form.navbar-form.pull-left
  %input.span2{:type => "text"}
    %button.btn{:type => "submit"} Submit
</pre>
<pre class="prettyprint linenums tab-pane fade" id="forms-html">
&lt;form class="navbar-form pull-left"&gt;
&lt;input type="text" class="span2"&gt;
&lt;button type="submit" class="btn"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#forms-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#forms-html" data-toggle="tab">HTML</a></li>
</ul>

  <h3>Search form</h3>
  <p>For a more customized search form, add <code>.navbar-search</code> to the <code>form</code> and <code>.search-query</code> to the input for specialized styles in the navbar.</p>
  <div class="bs-docs-example">
    <div class="navbar">
      <div class="navbar-inner">
        <form class="navbar-search pull-left">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>
    </div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="search-forms-haml">
%form.navbar-search.pull-left
  %input.search-query{:placeholder => "Search", :type => "text"}
</pre>
<pre class="prettyprint linenums tab-pane fade" id="search-forms-html">
&lt;form class="navbar-search pull-left"&gt;
&lt;input type="text" class="search-query" placeholder="Search"&gt;
&lt;/form&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#search-forms-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#search-forms-html" data-toggle="tab">HTML</a></li>
</ul>

  <h3>Component alignment</h3>
  <p>Align nav links, search form, or text, use the <code>.pull-left</code> or <code>.pull-right</code> utility classes. Both classes will add a CSS float in the specified direction.</p>

  <h3>Using dropdowns</h3>
  <p>Add dropdowns and dropups to the nav with a bit of markup and the <a href="./javascript.html#dropdowns">dropdowns javascript plugin</a>.</p>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="dropdown-alignment-haml">
%ul.nav
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      Account
      %b.caret
    %ul.dropdown-menu
      Lorem
</pre>
<pre class="prettyprint linenums tab-pane fade" id="dropdown-alignment-html">
&lt;ul class="nav"&gt;
&lt;li class="dropdown"&gt;
&lt;a href="#" class="dropdown-toggle" data-toggle="dropdown">
Account
&lt;b class="caret"&gt;&lt;/b&gt;
&lt;/a&gt;
&lt;ul class="dropdown-menu"&gt;
Lorem
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#dropdown-alignment-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#dropdown-alignment-html" data-toggle="tab">HTML</a></li>
</ul>

  <p>Visit the <a href="./javascript.html#dropdowns">javascript dropdowns documentation</a> for more markup and information on calling dropdowns.</p>

  <h3>Text</h3>
  <p>Wrap strings of text in an element with <code>.navbar-text</code>, usually on a <code>&lt;p&gt;</code> tag for proper leading and color.</p>


  <hr class="bs-docs-separator">


  <h2>Optional display variations</h2>
  <p>Fix the navbar to the top or bottom of the viewport with an additional class on the outermost div, <code>.navbar</code>.</p>

  <h3>Fixed to top</h3>
  <p>Add <code>.navbar-fixed-top</code> and remember to account for the hidden area underneath it by adding at least 40px <code>padding</code> to the <code>&lt;body&gt;</code>. Be sure to add this after the core Bootstrap CSS and before the optional responsive CSS.</p>
  <div class="bs-docs-example bs-navbar-top-example">
    <div class="navbar navbar-fixed-top" style="position: absolute;">
      <div class="navbar-inner">
        <div class="container" style="width: auto; padding: 0 20px;">
          <a class="brand" href="#">Title</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="fixed-top-haml">
.navbar.navbar-fixed-top
  Lorem
</pre>
<pre class="prettyprint linenums tab-pane fade" id="fixed-top-html">
&lt;div class="navbar navbar-fixed-top"&gt;
Lorem
&lt;/div&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#fixed-top-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#fixed-top-html" data-toggle="tab">HTML</a></li>
</ul>

  <h3>Fixed to bottom</h3>
  <p>Add <code>.navbar-fixed-bottom</code> instead.</p>
  <div class="bs-docs-example bs-navbar-bottom-example">
    <div class="navbar navbar-fixed-bottom" style="position: absolute;">
      <div class="navbar-inner">
        <div class="container" style="width: auto; padding: 0 20px;">
          <a class="brand" href="#">Title</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="fixed-bottom-haml">
.navbar.navbar-fixed-bottom
  Lorem
</pre>
<pre class="prettyprint linenums tab-pane fade" id="fixed-bottom-html">
&lt;div class="navbar navbar-fixed-bottom"&gt;
Lorem
&lt;/div&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#fixed-bottom-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#fixed-bottom-html" data-toggle="tab">HTML</a></li>
</ul>

  <h3>Static top navbar</h3>
  <p>Create a full-width navbar that scrolls away with the page by adding <code>.navbar-static-top</code>. Unlike the <code>.navbar-fixed-top</code> class, you do not need to change any padding on the <code>body</code>.</p>
  <div class="bs-docs-example bs-navbar-top-example">
    <div class="navbar navbar-static-top" style="margin: -1px -1px 0;">
      <div class="navbar-inner">
        <div class="container" style="width: auto; padding: 0 20px;">
          <a class="brand" href="#">Title</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="static-top-haml">
.navbar.navbar-static-top
  Lorem
</pre>
<pre class="prettyprint linenums tab-pane fade" id="static-top-html">
&lt;div class="navbar navbar-static-top"&gt;
Lorem
&lt;/div&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#static-top-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#static-top-html" data-toggle="tab">HTML</a></li>
</ul>


  <hr class="bs-docs-separator">


  <h2>Responsive navbar</h2>
  <p>To implement a collapsing responsive navbar, wrap your navbar content in a containing div, <code>.nav-collapse.collapse</code>, and add the navbar toggle button, <code>.btn-navbar</code>.</p>
  <div class="bs-docs-example">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Title</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-search pull-left" action="">
              <input type="text" class="search-query span2" placeholder="Search">
            </form>
            <ul class="nav pull-right">
              <li><a href="#">Link</a></li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.nav-collapse -->
        </div>
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="responsive-navbar-haml">
.navbar
  .navbar-inner
    .container
      / .btn-navbar is used as the toggle for collapsed navbar content
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / Be sure to leave the brand out there if you want it shown
      %a.brand{:href => "#"} Project name
      / Everything you want hidden at 940px or less, place within here
      .nav-collapse
        / .nav, .navbar-search, .navbar-form, etc
</pre>
<pre class="prettyprint linenums tab-pane fade" id="responsive-navbar-html">
&lt;div class="navbar"&gt;
&lt;div class="navbar-inner"&gt;
&lt;div class="container"&gt;

&lt;!-- .btn-navbar is used as the toggle for collapsed navbar content --&gt;
&lt;a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"&gt;
&lt;span class="icon-bar"&gt;&lt;/span&gt;
&lt;span class="icon-bar"&gt;&lt;/span&gt;
&lt;span class="icon-bar"&gt;&lt;/span&gt;
&lt;/a&gt;

&lt;!-- Be sure to leave the brand out there if you want it shown --&gt;
&lt;a class="brand" href="#"&gt;Project name&lt;/a&gt;

&lt;!-- Everything you want hidden at 940px or less, place within here --&gt;
&lt;div class="nav-collapse"&gt;
&lt;!-- .nav, .navbar-search, .navbar-form, etc --&gt;
&lt;/div&gt;

&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#responsive-navbar-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#responsive-navbar-html" data-toggle="tab">HTML</a></li>
</ul>
  <!-- <div class="alert alert-info">
    <strong>Heads up!</strong> The responsive navbar requires the <a href="./javascript.html#collapse">collapse plugin</a> and <a href="./scaffolding.html#responsive">responsive Bootstrap CSS file</a>.
  </div> -->


  <hr class="bs-docs-separator">


  <h2>Inverted variation</h2>
  <p>Modify the look of the navbar by adding <code>.navbar-inverse</code>.</p>
  <div class="bs-docs-example">
    <div class="navbar navbar-inverse" style="position: static;">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".subnav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Title</a>
          <div class="nav-collapse subnav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-search pull-left" action="">
              <input type="text" class="search-query span2" placeholder="Search">
            </form>
            <ul class="nav pull-right">
              <li><a href="#">Link</a></li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.nav-collapse -->
        </div>
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="inverted-variation-haml">
.navbar.navbar-inverse
  ...
</pre>
<pre class="prettyprint linenums tab-pane fade" id="inverted-variation-html">
&lt;div class="navbar navbar-inverse"&gt;
...
&lt;/div&gt;
</pre>
</div>
<ul class="nav nav-pills example-types">
  <li class="active"><a href="#inverted-variation-haml" data-toggle="tab">HAML</a></li>
  <li><a href="#inverted-variation-html" data-toggle="tab">HTML</a></li>
</ul>

</section>
