<!-- Typographic components
================================================== -->
<section id="typography">
  <div class="page-header">
    <h1>Typographic components <small>Page header and hero unit for segmenting content</small></h1>
  </div>
  <h2>Hero unit</h2>
  <div class="row">
    <div class="span4">
      <p>Bootstrap provides a lightweight, flexible component called a hero unit to showcase content on your site. It works well on marketing and content-heavy sites.</p>
      <h3>Markup</h3>
      <p>Wrap your content in a <code>div</code> like so:</p>
<pre class="prettyprint linenums">
&lt;div class="hero-unit"&gt;
  &lt;h1&gt;Heading&lt;/h1&gt;
  &lt;p&gt;Tagline&lt;/p&gt;
  &lt;p&gt;
    &lt;a class="btn btn-primary btn-large"&gt;
      Learn more
    &lt;/a&gt;
  &lt;/p&gt;
&lt;/div&gt;
</pre>
    </div>
    <div class="span8">
      <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-large">Learn more</a></p>
      </div>
    </div>
  </div><!-- /row -->
  <h2>Page header</h2>
  <div class="row">
    <div class="span4">
      <p>A simple shell for an <code>h1</code> to appropriately space out and segment sections of content on a page. It can utilize the <code>h1</code>'s default <code>small</code>, element as well most other components (with additional styles).</p>
    </div>
    <div class="span8">
      <div class="page-header">
        <h1>Example page header <small>Subtext for header</small></h1>
      </div>
<pre class="prettyprint linenums">
&lt;div class="page-header"&gt;
  &lt;h1&gt;Example page header&lt;/h1&gt;
&lt;/div&gt;
</pre>
    </div>
  </div><!-- /row -->
</section>
