%section
  .container
    .container-page
      .row-fluid
        .span6
          %h2
            Thanks for connecting with the Thriftway Washington!
          %p
            Please fill out the form on the right regarding your question or request. We will reply as soon as possible.
          %p 
            Once your form is completed, your message will be sent directly to the Thriftway Washington team for response.
 
        .span6
          .form-container
            %h2 What can we help you with?
            - @message = Message.new
            - @message_topics = MessageTopic.all
            = render 'messages/form'
            -#
              %ul.form-types
                %li
                  Subscribe to our Newsletter
                %li
                  Suggest a Location
                %li
                  Become a Vendor Partner
                %li
                  Join the Thriftway Washington Team
                %li
                  Submit a Media Inquiry
                %li
                  Share Comments & Suggestions