%section
  .container
    .container-page
      .row-fluid
        .span6
          %h2
            Thanks for connecting with the Thriftway Washington team!
          %p
            We love hearing from members of our communities, vendor partners and potential Thriftway Washington team members.  Feel free to comment, ask questions and subscribe to our email list. 
          %p 
            Once your form is completed, your message will be sent directly to the Thriftway Washington team for response.
          %p
            For the most current Thriftway Washington updates, “like” us on Facebook.
          %p
            <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFreshThymeFarmersMarkets%3Ffref%3Dts&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>
          %h3
            To Contact a Specific Department directly, choose your area of interest:
          %p
            %b Joining the Thriftway Washington Team:
          %p
            Would you like to become a member of the Thriftway Washington Team?  We’re always looking for energetic, talented and friendly folks!
          %p
            %b Press Inquiries & Media Relations:
          %p
            Connect with the Thriftway Washington team for your upcoming article or news story.
          %p
            %b Becoming a Thriftway Washington Vendor Partner:
          %p
            Contact a member of the Thriftway Washington Sales & Merchandising team for product or services consideration.
          %p
            %b Community Relations:
          %p
            Connect with the Thriftway Washington team to support your community event or donate to your community organization.

          %p
            %b Contacting the Real Estate Team:
          %p
            Suggest a new store location, receive site requirements, etc.
          %p
            %b Advertising:
          %p

            Would you like Thriftway Washington to advertise with you?  Contact our advertising department.



        .span6
          .form-container
            %h2 What can we help you with?
            - @message = Message.new
            - @message_topics = MessageTopic.all
            = render 'messages/form'
            -#
              %ul.form-types
                %li
                  Subscribe to our Newsletter
                %li
                  Suggest a Location
                %li
                  Become a Vendor Partner
                %li
                  Join the Thriftway Washington Team
                %li
                  Submit a Media Inquiry
                %li
                  Share Comments & Suggestions