= stylesheet_link_tag "index"

%section#hero
  .container
    .row-fluid
      .hero.span12
        %h1
          header 1
.container
  %section#about-blurb
    .row-fluid
      .span3
        = image_tag "index/girl-eating-watermelon.jpg", :width=> "330", :height=> "430"
      .span9
        %h2
          HEADER
        %p
          blah blah blah


.container
  %section#row3
