= stylesheet_link_tag "index"

.container
  .row-fluid
    .span12
      .row-fluid
        .span9
          = link_to image_tag("index/main-image.jpg"), locations_index_path
        .span3
          %div
            = link_to image_tag("index/side-image-1.jpg"), "/about_us"
          %div
            = image_tag "index/side-image-2.jpg", :width=> "270", :height=> "200"




.container
  %section#row3
