= stylesheet_link_tag "index"

.container
  .row-fluid
    .span12
      .row-fluid
        .span9
          = image_tag "index/main-image.jpg", :width=> "870", :height=> "420"
        .span3
          %div
            = image_tag "index/side-image-1.jpg", :width=> "270", :height=> "200"
          %div
            = image_tag "index/side-image-2.jpg", :width=> "270", :height=> "200"




.container
  %section#row3
