= stylesheet_link_tag "index"

%section#hero
  .container
    .row-fluid
      .hero.span12
        %h1
          Fresh. Healthy. Natural. It’s Thyme!
        %div.center-button-small-screen
          %a.btn.btn-primary.btn-large{href: 'about-us'} Learn More

.container
  %section#about-blurb
    
    .row-fluid
      .span3
        = image_tag "index/girl-eating-watermelon.jpg", :width=> "330", :height=> "430"
      .span9
        %h2
          A NEW Healthy and Fresh way to grocery shop is taking root in the Midwest!
        = image_tag "index/map-b.jpg", :class=> "map", :width=> "283", :height=> "216"
        %p
          At Fresh Thyme Farmers Markets we believe you shouldn’t have to give away the farm to feed your body nutritious food.  We’re committed to improving the way our communities eat by offering fresh and healthy food at amazing values.  Over the next six years we’ll be opening stores throughout the Midwest: Illinois, Wisconsin, Indiana, Michigan, Ohio, Kentucky, Tennessee, Missouri, Iowa, Minnesota, Nebraska and Kansas. We hope to see you soon and know you’ll enjoy our fresh food at refreshingly low prices!
        %ul
          %li
            50 stores opening over the next 6 years
          %li
            Locations throughout 12 Midwestern states
          %li
            First store grand opening January, 2014 in Mount Prospect, Illinois

.container
  %section#row3
    .row-fluid
      .span6#sign-up
        %h2 Connect with our Team
        %p.lead Sign-up for our email newsletter
        
        %form#subForm{:action => "http://www.grocerynewsletters.com/t/r/s/jdtuyuu/", :method => "post"}
          %div
            %label{:for => "name"} Name:
            %input#name{:name => "cm-name", :type => "text"}
            %label{:for => "jdtuyuu-jdtuyuu"} Email:
            %input#jdtuyuu-jdtuyuu{:name => "cm-jdtuyuu-jdtuyuu", :type => "text"}
            %label{:for => "Zip Code"} Zip Code:
            %input#ZipCode{:name => "cm-f-yhjktuh", :type => "text"}
            %input{:type => "submit", :value => "Subscribe"}

      .span6#facebook
        %h2 Find Us on Facebook
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFreshThymeFarmersMarkets&amp;width=490&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=true&amp;border_color&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:490px; height:290px; background:white;"></iframe>