-content_for :styles do
  =stylesheet_link_tag 'index', :media => 'screen'
  =stylesheet_link_tag 'index_print_only', :media => 'print'
  =javascript_include_tag 'boards_index'

%div.row-fluid.boards.main_boards
  - @boards.each_with_index do |board, index|
    - @board = board
    -if index <= 1
      %span.span2
        = render :partial => "board_projects"
    -if index == 2
      %span.span8
        = render :partial => "board_projects"

%div.row-fluid.boards.secondary_boards
  - @boards.each_with_index do |board, index|
    - @board = board
    -if  index >= 3
      %span.span6
        = render :partial => "board_projects"

