/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/bootstrap
 *= require google/prettify
 *= require data_tables/data_tables_for_bootstrap
 *= require date_picker/bootstrap-datepicker
 *= require webstop_docs
*/

$webstop-blue: #369;
$light-blue: #d3e3f4;

html {
  background: -moz-linear-gradient(top, $light-blue , white 100%);
  background: -webkit-linear-gradient(top, $light-blue 0%, white 100%);
}

.main_body_content {
  background: #fff;
  box-shadow: 0 0 100px 100px #fff;
}


/* Responsive Layout */

/* Large desktop */
@media (min-width: 1200px) {
 body {padding-top: 61px;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {padding-top: 61px;}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}


/* for pages */

/* project/show */
.assignments {max-width: 480px;}
