/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/bootstrap
 *= require google/prettify
 *= require data_tables/data_tables_for_bootstrap
 *= require date_picker/bootstrap-datepicker
 *= require redactor/redactor
 *= require icons
*/
html {
    background: #ffffff !important;
    background: url('background-plain.jpg') repeat-x !important;
}

body {
    background: transparent url('background.jpg') repeat-x !important;
}

.navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #007e60, #00664e); !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#007e60), to(#00664e)); !important;
    background-image: -webkit-linear-gradient(top, #007e60, #00664e); !important;
    background-image: -o-linear-gradient(top, #007e60, #00664e); !important;
    background-image: linear-gradient(to bottom, #007e60, #00664e); !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF007e60', endColorstr='#FF00664e', GradientType=0);
    border: 1px solid #004d3b;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    *zoom: 1;
}

.navbar .nav > li > a {
    float: none;
    padding: 10px 15px 10px;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 0 white;

}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #aaaaaa;
    text-decoration: none;
    text-shadow: 0 0 0 white;
}

.copyright {
    color: white;
    line-height: 20px;
    float: right;
    margin: 10px 10px 0 0;
    font-style: oblique;

}

a {
    color: #007e60;
}

h3 {
    color: #007e60;
}