$webstop-blue: #369;
$dark-blue: #214367;
$light-blue: #d3e3f4;
$orange: #ffad5b;
$gray: #cbcbcb;
$light-grey: #ececec;
$body-type: #333;

@mixin container-fixed() {
  margin-right: auto;
  margin-left: auto;
  @include clearfix();
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.container {
  @include container-fixed();
}

/* header */

#feature-header {
  margin-top: 0;
  padding: 15px 0 40px 0;
  border: none;
  background: $webstop-blue;
}

#feature-header h1 {
  color: white;
  text-shadow: 0 2px 1px #24384e;
}

#feature-header p {
  color: white;
}

#feature-header ul {
  margin: 20px 0 20px 0;
  color: white;
}

#feature-header h1 {
  margin: 40px 0 0 0;
}


.feature-detail li {
  font-size: 16px;
  line-height: 31px;
}

section {
  margin-top: 40px;
}

/* sub-navigation */
.features-nav-section .heading {
  margin-top: 42px;
  text-transform:uppercase;
}

.features-navigation li {
  // font-size: 24px;
  // line-height: 32px;
  // height: 32px;
  list-style: none;
}

.nav-icon {
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  width: 18px;
}

/* Feature list */
.icon {
  margin: 0 30px 0 0;
  font-size: 32px;
  line-height: 32px;
  height: 32px;
  vertical-align: top;
  float: left;
}

ul.feature-detail li {
  margin: 40px 0;
  list-style: none;
}

.center-button, .center-image {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.row-fluid .image-callout {
  float: right;
}

/* Responsive Layout */

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  body {
    padding-top: 0;
  }

  #feature-header {
    margin-top: 0;
    border: none;
  }

  h1, h2 {
    text-align: left;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }

  section#feature-header, #feature-header ul {
    margin: 0 -20px 0 -20px;
    padding: 20px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }

  #feature-header {
    margin-top: 0;
    border: none;
  }

  #feature-header p, #feature-header ul {
    text-align: center;
  }

  h2 {
    text-align: left;
  }

  #body-text {
    margin-top: 20px;
  }

  img {
    text-align: center;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }

  section#feature-header {
    margin: 0 -20px 0 -20px;
    padding: 20px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    padding-top: 0;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }

  section#feature-header {
    margin: 0 -20px 0 -20px;
    padding: 20px;
  }

    #feature-header p {
    text-align: center;
  }
}
