$webstop-blue: #369;
$light-blue: #d3e3f4;
$dark-gray: #333;

@mixin border_container {
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

html {
  background: -moz-linear-gradient(top, $light-blue , white 100%);
  background: -webkit-linear-gradient(top, $light-blue 0%, white 100%);
}

body{
  border-bottom: 0;
  padding-bottom: 0;
  background-image: url('index/stopbot.png');
  background-repeat: no-repeat;
  background-position: 95% 55px;
  background-color: transparent;
}


/* Responsive Layout */

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  header {
    margin: 10px 0 0 0;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  header {
    margin: 100px 0 0 0;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  header {
    margin: 100px 0 0 0;
  }
}


/* original project boards stuff */

html, body{background:#333; font-size: 86%}

.container{width:95.918367346939%; margin-left: 2.040816326531%} /* width: 940/980 margin: 20/980 */

.clear {clear: both; padding-bottom: 5px;}

.board {
  padding: 5px;
  background:#4A525A;
  border-radius: 5px;
  overflow: auto;
}

/*.main_boards .size1of4:last-child {
  width: 47.916666666667%;
}*/

.main_boards .unit:last-child .board {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
  /*padding: 1.4%;*/
}

.secondary_boards .board {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  /*padding: 1.4%;*/
}


.board_name{color:#999;}

.project{
  color: #eee;
  font-size: 1.23076923076923em;
  margin:5px 0;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  border-bottom: 1px solid #3c4043;
}
.priority{
  color: #999;
  display: inline-block;
  float: left;
  width: 0;
  /*overflow: visible;*/
  /*margin-left: -1.23076923076923em;*/
}
.name {
  /*left: 7%;*/
  display: inline-block;
  /*position: relative;*/
  float: left;
  width: 95%;
  margin-left: 1.23076923076923em;
}

.name a{
  color: #fff;
}
.project_user{margin-top: 10px; font-weight: bold; font-size: 18px; color: #ffc; letter-spacing: 0.1em; word-spacing: 0.2em;}


.secondary_boards {font-size:12px;}






