$webstop-blue: #369;
$light-blue: #d3e3f4;
$dark-gray: #333;
$haml: #63878b;
$sass: #cc6699;

@mixin border_container {
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

html {
  background: -moz-linear-gradient(top, $light-blue , white 100%);
  background: -webkit-linear-gradient(top, $light-blue 0%, white 100%);
}

body{
  border-bottom: 0;
  padding-bottom: 0;
  background-image: url('index/stopbot.png');
  background-repeat: no-repeat;
  background-position: 95% 55px;
  background-color: transparent;
}

img {
    margin-bottom: 20px;
  }

header {
  @include border_container;
  margin: 30px 0;
  padding: 20px 40px;
  clear: both;
}

[class*="span"] {
  margin-left: 0;
}

.row, .row-fluid {
  margin-bottom: 20px;
}

.feature {
  margin-bottom: 20px;
  text-align: center;
}

.ad-block {
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: center;
}

.haml {
  background-color: $haml;
}

.sass {
  background-color: $sass;
}