@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,700,800|Open+Sans+Condensed:700);

$webstop-blue: #369;
$dark-blue: #214367;
$light-blue: #d3e3f4;
$orange: #ffad5b;
$gray: #cbcbcb;
$light-grey: #ececec;
$body-type: #333;
$light-btn-color: #287d12;
$dark-btn-color: #266f13;

::selection {
  background: $webstop-blue;
  color: #fff;
}

::-moz-selection {
  background: $webstop-blue;
  color: #fff;
}

body {
  padding: 76px 0 0 0;
  padding: 66px 0 0 0\9;
}

.clear {
  clear: both;
}

#logo {
  float: left;
  width: 127px;
  height: 45px;
  overflow: hidden;
}

#logo img {
  width: 127px;
  height: 128px;
}

.navbar {
  background-color: $webstop-blue;
}

.navbar .container {
  padding: 13px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.navbar .brand {
  margin: 0;
  padding: 0;
}

.navbar #logo {
  margin: 0 0 5px 0;
}

.navbar-inner {
  background-image: none;
  background-color: inherit;
}

.navbar .nav {
  float: right;
  margin: 10px 0 0 0;
}

.navbar .nav > li {
  margin: 0 20px 0 0;
}

.navbar .nav > li:nth-child(5) {
  margin-right: 0;
}

.navbar .nav > li > a {
  padding: 5px 0 2px 0;
  font-size: 24px;
  font-weight: normal;
  text-shadow: 0px 2px 1px $dark-blue;
  color: #fff;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  border-bottom: 3px solid transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar .nav > li > a:hover, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #fff;
  border-bottom: 3px solid #fff;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

ul {
  margin: 0;
}

li {
  margin: 0 0 10px 15px;
}

.center-image {
  width: 100%;
  text-align: center;
}

.center-button {
  margin: 0 auto;
  text-align: center;
}

.social {
  margin-top: 20px;
}

/* Links and Buttons */

a {
  color: $webstop-blue;
}

a:hover {
  color: $dark-blue;
}

.address-phone-container a {
  color: white;
}

.address-phone-container a:hover {
  text-decoration: none;
}

#footer a {
  color: white;
}

#footer a:hover {
  text-decoration: underline;
}

.btn-primary {
  color: 
    white;
  text-shadow: 0 -1px 0 
    rgba(0, 0, 0, 0.25);
  background-color: 
    $dark-btn-color;
  background-image: -moz-linear-gradient(top, 
    $light-btn-color, 
    $dark-btn-color);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(
    $light-btn-color), to(
    $dark-btn-color));
  background-image: -webkit-linear-gradient(top, 
    $light-btn-color, 
    $dark-btn-color);
  background-image: -o-linear-gradient(top, 
    $light-btn-color, 
    $dark-btn-color);
  background-image: linear-gradient(to bottom, 
    $light-btn-color, 
    $dark-btn-color);
  border-top: 
    1px solid $dark-btn-color;
  border-right: 
    1px solid darken($dark-btn-color, 5%);
  border-bottom: 
    1px solid darken($dark-btn-color, 5%);
  border-left: 
    1px solid darken($dark-btn-color, 5%);
}

.btn-primary:hover {
  color: 
    white;
  text-shadow: 0 -1px 0 
    rgba(0, 0, 0, 0.25);
  background-color: 
    darken($dark-btn-color, 5%);
  background-image: -moz-linear-gradient(top, 
    darken($light-btn-color, 5%), 
    darken($dark-btn-color, 5%));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(
    darken($light-btn-color, 5%)), to(
    darken($dark-btn-color, 5%)));
  background-image: -webkit-linear-gradient(top, 
    darken($light-btn-color, 5%), 
    darken($dark-btn-color, 5%));
  background-image: -o-linear-gradient(top, 
    darken($light-btn-color, 5%), 
    darken($dark-btn-color, 5%));
  background-image: linear-gradient(to bottom, 
    darken($light-btn-color, 5%), 
    darken($dark-btn-color, 5%));
  border-color: 
    darken($dark-btn-color, 5%);
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* Feature Navigation */

.features-nav-section .heading {
  margin-top: 42px;
  text-transform:uppercase;
}

.features-navigation {

}

.features-navigation li {
  list-style: none;
  margin: 10px 0;
}

.features-navigation a {
  display: block;
  background-color: $light-grey;
  padding: 10px 15px;
  color: $body-type;
}

.features-navigation a:hover {
  background-color: $gray;
  text-decoration: none;
}

.address-phone-container {
  display: inline-block;
  margin-top: 83px;
  padding: 40px 150px 43px 45px;
  background: $webstop-blue;
  color: white;
}

.address-phone-container .icon-phone, .address-phone-container .icon-location {
  float: left;
  margin-right: 10px;
}

.address {
  margin-top: 20px;
}

address {
  float: left;
}

.numbers {
  float: left;
}

#footer {
  margin-top: 40px;
  padding: 40px 45px;
  background: $webstop-blue;
}

/* Typography */

@font-face {
  font-family: 'Iconstop';
  src:url('Iconstop/iconstop.eot');
  src:url('Iconstop/Iconstop.eot?#iefix') format('embedded-opentype'),
      url('Iconstop/Iconstop.svg#Iconstop') format('svg'),
      url('Iconstop/Iconstop.woff') format('woff'),
      url('Iconstop/Iconstop.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon-coupons:before, .icon-edit:before, .icon-photos:before, .icon-video:before, .icon-new:before, .icon-tag:before, .icon-cart:before, .icon-phone:before, .icon-mail:before, .icon-location:before, .icon-user:before, .icon-loading:before, .icon-settings:before, .icon-trash:before, .icon-list:before, .icon-tree:before, .icon-web:before, .icon-chains:before, .icon-starburst:before, .icon-half-star:before, .icon-star:before, .icon-heart:before, .icon-add:before, .icon-info:before, .icon-checkmark:before, .icon-delete:before, .icon-google-plus:before, .icon-facebook:before, .icon-instagram:before, .icon-twitter:before, .icon-feed:before, .icon-youtube:before, .icon-vimeo:before, .icon-github:before, .icon-apple:before, .icon-android:before, .icon-windows8:before, .icon-reddit:before, .icon-linkedin:before, .icon-pinterest:before, .icon-delicious:before, .icon-stumbleupon:before, .icon-paypal:before, .icon-yelp:before, .icon-pdf:before, .icon-foursquare:before, .icon-flickr:before, .icon-home:before, .icon-search:before, .icon-cookbook:before, .icon-camera:before, .icon-barcode:before, .icon-healthy:before, .icon-power:before, .icon-html5:before, .icon-css:before, .icon-html:before, .icon-chrome:before, .icon-firefox:before, .icon-IE:before, .icon-opera:before, .icon-safari:before, .icon-power-2:before, .icon-interface:before, .icon-wholesalers:before, .icon-independents:before, .icon-social:before, .icon-mobile:before, .icon-stats:before, .icon-recipe:before, .icon-display:before {
  font-family: 'Iconstop';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}


.icon {
  margin: 3px 10px 0 0;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p {
  margin: 10px 0;
  font-size: 14px;
  color: $body-type;
  line-height: 24px;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  color: $body-type;
  margin: 20px 0;
}

section#home h1 {
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  text-shadow: 0 2px 1px #24384e;
}

section#home p {
  color: #fff;
}

h2 {
  margin: 20px 0 20px 0;
}

#footer h2 {
  margin: 0;
  font-weight: 800;
  color: white;
  text-shadow: 0 2px 1px #24384e;
}

h3 {
  color: $body-type;
  font-size: 18px;
  margin-top: 10px;
}

#footer span {
  color: white;
}

.social p {
  font-size: 12px;
  margin: 0;
}

/* Buttons & Links */

// .btn, .btn:visited, button, button:visited {
//   display: inline-block;
//   margin-top: 10px;
//   font-size: 14px;
//   color: #fff;
//   padding: 10px 15px;
//   border: 1px solid #1e590f;
//   border-radius: 5px;
//   background: -webkit-gradient( linear, left top, left bottom,
//         from(#287d12), to(#266f13) ) ;
//   box-shadow: inset 0 1px 0 rgba(255,255,255,.2),
//         0 1px 0px rgba(0,0,0,.08);
//   text-decoration: none;
//   text-shadow: 0 -1px 0 rgba(0,0,0,.25);
//   cursor: pointer;
// }

// .btn:hover, .btn:active, button:hover, button:active {
//   background: -webkit-gradient( linear, left top, left bottom,
//         from(#236d0f), to(#206010) ) ;
//   text-decoration: none;
//   color: #fff;
// }

// .btn:active, button:active {
//   background: -webkit-gradient( linear, left top, left bottom,
//         from(#206010), to(#236d0f) ) ;
//   text-decoration: none;
// }

/* Responsive Layout */

/* Large desktop */
@media (min-width: 1200px) {
  /* retailer solutions */
  .solution-overview{min-height: 300px;}
  .solution-example{min-height: 305px;}
}
@media (min-width: 980px) and (max-width: 1199px) {
  /* retailer solutions */
  .solution-overview{min-height: 370px;}
  .solution-example{min-height: 335px;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  /* retailer solutions */
  .solution-overview{min-height: 515px;}
  .solution-example{min-height: 415px;}

  .navbar .nav {
    float: none;
    margin: 10px 0 0 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }

  .nav-collapse .nav > li {
    margin-bottom: 10px;
  }

  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a, .navbar .nav > .active  {
    padding: 0 0 5px 0;
    font-weight: normal;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: 0;
  }

  section#home {
    margin: 0 0 60px 0;
    text-align: center;
  }

  section#home .span6 {
    float: none;
    margin: 0 auto;
  }

  h1, h2, h3 {
    text-align: center;
  }

  h2 {
    display: block;
  }

  label {
    text-align: left;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {
      padding: 0 20px 20px 20px;
    }

    section#home {
      margin: 0 0 60px 0;
      text-align: center;
    }

    .retailer-type {
      margin: 30px 0 0 0;
    }

    h1, h2, h3 {
      text-align: center;
    }

    h2 {
      display: block;
    }

    label {
    text-align: left;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    padding: 0 20px 20px 20px;
  }

  h1, h2{
    text-align: center;
  }

  h3 {
    text-align: left;
  }

  label {
    text-align: left;
  }
}

