$webstop-blue: #369;
$dark-blue: #214367;
$light-blue: #d3e3f4;
$orange: #ffad5b;
$gray: #cbcbcb;

::selection {
  background: $webstop-blue;
  color: #fff;
}

::-moz-selection {
  background: $webstop-blue;
  color: #fff;
}

.clear {
  clear: both;
}

html {
  background: $webstop-blue; /* Old browsers */
  background: -moz-linear-gradient(top, $webstop-blue 0%, $webstop-blue 450px, #ffffff 450px, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$webstop-blue), color-stop(450px,$webstop-blue), color-stop(450px,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $webstop-blue 0%,$webstop-blue 450px,#ffffff 450px,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $webstop-blue 0%,$webstop-blue 450px,#ffffff 450px,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $webstop-blue 0%,$webstop-blue 450px,#ffffff 450px,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom, $webstop-blue 0%,$webstop-blue 450px,#ffffff 450px,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$webstop-blue', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

body {
  background-color: transparent;
}

#logo {
  float: left;
  width: 157px;
  height: 45px;
  overflow: hidden;
}

.navbar {
  background-color: $webstop-blue;
}

.navbar .container {
  padding: 13px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.navbar .brand {
  margin: 0;
  padding: 0;
}

.navbar #logo {
  margin: 0 0 5px 0;
}

.navbar-inner {
  background-image: none;
  background-color: inherit;
}

.navbar .nav {
  float: right;
  margin: 10px 0 0 0;
}

.navbar .nav > li {
  margin: 0 20px 0 0;
}

.navbar .nav > li:nth-child(5) {
  margin-right: 0;
}

.navbar .nav > li > a {
  padding: 5px 0 2px 0;
  font-size: 24px;
  font-weight: normal;
  text-shadow: 0px 2px 1px $dark-blue;
  color: #fff;
  font-family: 'LeagueGothicRegular', Helvetica, Arial, sans-serif;
  border-bottom: 3px solid transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar .nav > li > a:hover, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #fff;
  border-bottom: 3px solid #fff;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

section {
  margin: 0 0 30px 0;
  padding-bottom: 40px;
  border-bottom: 2px solid $gray;
}

section#feature {
  margin-top: 100px;
  border: none;
}

section#feature .left-col, section#feature .right-col {
  border: none;
}

.next, .next:visited {
  display: inline-block;
  float: right;
  margin-top: 65px;
  padding: 5px 10px;
  background-color: #214367;
  text-decoration: none;
  color: #fff;
}

.next:hover, .next:active {
  background-color: #1b3754
}

img.digital-grocery {
  margin: 30px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#digital-grocery h3 {
  margin-bottom: 10px;
  line-height: 18px;
}

.left-col, .right-col {
  margin: 20px 0 0 0;
  border-top: 2px solid $gray;
}

.left-col {
  float: left;
}

.right-col {
  float: right;
}

.intro {
  margin: 0;
  min-height: 80px;
  border: none;
}

.left-col ul, .right-col ul {
  margin: 20px 0 0 0;
}

.left-col li, .right-col li {
  list-style: none;
  margin: 0 0 20px 0;
}

/* Price Table */

.price-table {
  width: 636px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.price-table li {
  list-style: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.price-table li:hover {
  -moz-box-shadow: 0px 0px 5px hsla(0,0%,0%,0.2);
  -webkit-box-shadow: 0px 0px 5px hsla(0,0%,0%,0.2);
  box-shadow: 0px 0px 5px hsla(0,0%,0%,0.2);
}

.price-table li:nth-child(odd) {
    margin-top: 20px;
}

.price-col {
  float: left;
  margin: 0 5px;
}

.price-detail {
  width: 200px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
}

.month {
  font-size: 12px;
}

.price-container {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #dedede;
  color: #316596;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.price-col h4 {
  margin: 0;
  padding: 10px 15px;
  color: #fff;
  background-color: #316596;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  text-align: center;
  text-shadow: 1px 1px 1px #24384e;
}

.price-detail p {
  margin: 10px;
  text-align: center;
  line-height: 24px;
}

/* Typography */

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('league_gothic/league_gothic-webfont.eot');
    src: url('league_gothic/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('league_gothic/league_gothic-webfont.woff') format('woff'),
         url('league_gothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Iconstop';
  src:url('Iconstop/iconstop.eot');
  src:url('Iconstop/Iconstop.eot?#iefix') format('embedded-opentype'),
      url('Iconstop/Iconstop.svg#Iconstop') format('svg'),
      url('Iconstop/Iconstop.woff') format('woff'),
      url('Iconstop/Iconstop.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon-social:before, .icon-mobile:before, .icon-web:before, .icon-newsletter:before, .icon-coupons:before, .icon-modules:before {
  font-family: 'Iconstop';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-social:before {
  content: "\21";
}
.icon-mobile:before {
  content: "\22";
}
.icon-web:before {
  content: "\23";
}
.icon-newsletter:before {
  content: "\24";
}
.icon-coupons:before {
  content: "\25";
}
.icon-modules:before {
  content: "\26";
}

.icon {
  margin: -5px 25px 0 0;
  font-size: 32px;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p {
  margin: 10px 0;
  font-size: 14px;
  color: #333;
  line-height: 24px;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  text-shadow: 0 2px 1px #24384e;
}

section#feature p {
  color: #fff;
}

h3 {
  color: #333;
  font-size: 18px;
  margin-top: 10px;
}

/* Buttons & Links */

.button, .button:visited, button, button:visited {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid #1e590f;
  border-radius: 5px;
  background: -webkit-gradient( linear, left top, left bottom,
        from(#287d12), to(#266f13) ) ;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2),
        0 1px 0px rgba(0,0,0,.08);
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  cursor: pointer;
}

.button:hover, .button:active, button:hover, button:active {
  background: -webkit-gradient( linear, left top, left bottom,
        from(#236d0f), to(#206010) ) ;
  text-decoration: none;
  color: #fff;
}

.button:active, button:active {
  background: -webkit-gradient( linear, left top, left bottom,
        from(#206010), to(#236d0f) ) ;
  text-decoration: none;
}

/* Responsive Layout */

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  html {
    background: $webstop-blue; /* Old browsers */
    background: -moz-linear-gradient(top, $webstop-blue 0%, $webstop-blue 730px, #ffffff 730px, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$webstop-blue), color-stop(730px,$webstop-blue), color-stop(730px,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $webstop-blue 0%,$webstop-blue 730px,#ffffff 730px,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $webstop-blue 0%,$webstop-blue 730px,#ffffff 730px,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $webstop-blue 0%,$webstop-blue 730px,#ffffff 730px,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, $webstop-blue 0%,$webstop-blue 730px,#ffffff 730px,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$webstop-blue', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

  .navbar .nav {
    float: none;
    margin: 10px 0 0 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }

  .nav-collapse .nav > li {
    margin-bottom: 10px;
  }

  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a, .navbar .nav > .active  {
    padding: 0 0 5px 0;
    font-weight: normal;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: 0;
  }

  section#feature {
    margin-top: 0;
  }

  section#feature .left-col {
    text-align: center;
  }

  .left-col, .right-col {
    float: none;
    width: 100%;
  }

  .next {
    display: none;
  }

  .center-button {
    display: block;
    text-align: center;
  }

  .left-col, .right-col {
    border: none;
  }

  .price-col {
    float: none;
    margin: 20px 0 0 0;
  }

  .price-table {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .price-detail {
    width: 100%;
  }

  .price-table li:nth-child(odd) {
    margin-top: 20px;
  }

  h1 {
    margin-top: 30px;
  }

  h1, h2, h3 .feature-right p {
    text-align: center;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  html {
    background: $webstop-blue; /* Old browsers */
    background: -moz-linear-gradient(top, $webstop-blue 0%, $webstop-blue 720px, #ffffff 720px, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$webstop-blue), color-stop(720px,$webstop-blue), color-stop(720px,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $webstop-blue 0%,$webstop-blue 720px,#ffffff 720px,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $webstop-blue 0%,$webstop-blue 720px,#ffffff 720px,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $webstop-blue 0%,$webstop-blue 720px,#ffffff 720px,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, $webstop-blue 0%,$webstop-blue 720px,#ffffff 720px,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$webstop-blue', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

  .navbar .nav {
    float: none;
    margin: 10px 0 0 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }

  .nav-collapse .nav > li {
    margin-bottom: 10px;
  }

  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a, .navbar .nav > .active  {
    padding: 0 0 5px 0;
    font-weight: normal;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: 0;
  }

  header {
    margin: 100px 0 0 0;
  }

  .btn .btn-navbar {
    margin-right: 0;
  }

  section#feature {
      margin-top: 0;
    }

    .feature-left {
      float: none;
      width: 500px;
      margin: 0 auto;
    }

    .feature-right {
      width: 100%;
    }

    .next {
      display: none;
    }

    .center-button {
      display: block;
      text-align: center;
    }

    .left-col, .right-col {
      border: none;
    }

    .price-col {
      float: none;
      margin: 20px 0 0 0;
    }

    .price-table {
      width: 100%;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .price-detail {
      width: 100%;
    }

    .price-table li:nth-child(odd) {
      margin-top: 20px;
    }

    h1 {
      margin-top: 30px;
    }

    h1, h2, h3 .feature-right p {
      text-align: center;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  header {
    margin: 100px 0 0 0;
  }

  html {
    background: $webstop-blue; /* Old browsers */
    background: -moz-linear-gradient(top, $webstop-blue 0%, $webstop-blue 707px, #ffffff 707px, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$webstop-blue), color-stop(707px,$webstop-blue), color-stop(707px,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $webstop-blue 0%,$webstop-blue 707px,#ffffff 707px,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $webstop-blue 0%,$webstop-blue 707px,#ffffff 707px,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $webstop-blue 0%,$webstop-blue 707px,#ffffff 707px,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, $webstop-blue 0%,$webstop-blue 707px,#ffffff 707px,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$webstop-blue', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

  header {
    margin: 100px 0 0 0;
  }

  section#feature {
      margin-top: 0;
    }

  .feature-left {
    float: none;
    width: 500px;
    margin: 0 auto;
  }

  .feature-right {
    width: 100%;
  }

  .next {
    display: none;
  }

  .center-button {
    display: block;
    text-align: center;
  }

  .left-col, .right-col {
    border: none;
  }

  .price-col {
    float: none;
    margin: 20px 0 0 0;
  }

  .price-table {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .price-detail {
    width: 100%;
  }

  .price-table li:nth-child(odd) {
    margin-top: 20px;
  }

  h1 {
    margin-top: 30px;
  }

  h1, h2, h3, p {
    text-align: center;
  }
}

