$webstop_blue: #369;
$light_blue: #d3e3f4;
$dark_gray: #333;

body{
  border-bottom: 20px solid #369;
  padding-bottom: 200px;
  background: #fff;
}

.main-content{margin-top: 90px; background: #fff; box-shadow: 0 0 120px 120px rgba(255,255,255,1.0);}
h1, h2, h3, h4, h5, h6 {color: $dark-gray;}

.bs-docs-example, .alert { h1, h2, h3, h4, h5, h6 {color: #333;} }
.carousel-caption h4 {color: #fff;}

/*.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background-color: #def;
}*/

.page-header {
  border-bottom: 6px #def;
  h1 {
    font-size: 40px;
  }
}

.example-types > .active > a {background-color: #b4b4b4;}

.bs-docs-example .page-header { border-bottom: 1px solid #eee;}

.main-content {
  section {margin-bottom: 20px;}
  section:first-child {
    margin-top: 0;
    .page-header, .page-header h1 {margin-top: 0;}
  }
}

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  color: #369;
  background: none;
  box-shadow: none;
  text-shadow: 0 1px 3px rgba(0,0,0,.2), 0 0 30px rgba(0,0,0,.037);
}
.subhead {border-bottom: 0;}


/* Navbar
-------------------------------------------------- */
body > .navbar .brand {
  color: #777;
  text-shadow: none;
  text-shadow: 0 -1px 0px rgba(0,0,0,.8);
  font-weight: normal;
}

/* footer */
.footer {display: none;}
