$webstop-blue: #369;
$dark-blue: #214367;
$light-blue: #d3e3f4;

::selection {
  background: #FD860F;
  color: #fff;
}

::-moz-selection {
  background: #FD860F;
  color: #fff;
}

.clear {
  clear: both;
}

html {
  background: #fff;
  background-image: url('index/blueBG.jpg');
  background-repeat: repeat-x;
}

body {
  background-color: transparent;
}

section {
  margin: 120px 0 -80px 0;
}

.navbar {
  background-color: $webstop-blue;
}

.navbar-inner {
  background-image: none;
  background-color: inherit;
}

.nav {
  float: right;
  padding: 15px;
  margin-top: 10px;
  background-color: $dark-blue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.navbar .nav > li {
  margin: 0 20px 0 0;
}

.navbar .nav > li > a {
  padding: 0;
  color: #fff;
  font-family: 'LeagueGothicRegular', Helvetica, Arial, sans-serif;
  border-bottom: 2px solid transparent;
  text-shaddow: none;
  text-transform: uppercase;
}

.navbar .nav > li > a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  text-shaddow: none;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
   
}

.carousel {
  margin: 40px 0 0 0;
}

.glider-left {
  float: left;
  margin-right: 30px;
}

.glider-right {
  float: left;
  width: 420px;
}

ul.left, ul.right {
  margin: 0;
}

ul.left li, ul.right li {
  list-style: none;
}

ul.left {
  float: left;
}

ul.right {
  float: right;
}

/* Typography */

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/league_gothic/league_gothic-webfont.eot');
    src: url('fonts/league_gothic/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/league_gothic/league_gothic-webfont.woff') format('woff'),
         url('fonts/league_gothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Iconstop';
  src:url('fonts/iconstop/iconstop.eot');
  src:url('fonts/iconstop/iconstop.eot?#iefix') format('embedded-opentype'),
    url('fonts/iconstop/iconstop.svg#Iconstop') format('svg'),
    url('fonts/iconstop/iconstop.woff') format('woff'),
    url('fonts/iconstop/iconstop.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon-social:before, .icon-mobile:before, .icon-web:before, .icon-newsletter:before, .icon-coupons:before {
  font-family: 'Iconstop';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-social:before {
  content: "\21";
}
.icon-mobile:before {
  content: "\22";
}
.icon-web:before {
  content: "\23";
}
.icon-newsletter:before {
  content: "\24";
}
.icon-coupons:before {
  content: "\25";
}

.icon {
  margin-top: 5px;
  font-size: 38px;
}

p {
  margin: 10px 0;
  font-size: 14px;
  color: #333;
  line-height: 20px;
}

h1 {
  margin: 60px 0 0 0;
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  text-shadow: 1px 1px 1px #24384e;
}

.glider-right h2 {
  padding-top: 0px;
  font-size: 32px;
  color: #fff;
  text-shadow: 1px 1px 1px #24384e;
}

.glider-right p {
  color: #fff;
}

h3 {
  color: #333;
  font-size: 18px !important;
  margin-top: 10px;
}

/* Buttons & Links */

.button, .button:visited, button, button:visited {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid #1e590f;
  border-radius: 5px;
  background: -webkit-gradient( linear, left top, left bottom,
        from(#287d12), to(#266f13) ) ;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2),
        0 1px 0px rgba(0,0,0,.08);
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  cursor: pointer;
}

.button:hover, .button:active, button:hover, button:active {
  background: -webkit-gradient( linear, left top, left bottom,
        from(#236d0f), to(#206010) ) ;
  text-decoration: none;
}

.button:active, button:active {
  background: -webkit-gradient( linear, left top, left bottom,
        from(#206010), to(#236d0f) ) ;
  text-decoration: none;
}

/* Responsive Layout */

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  header {
    margin: 10px 0 0 0;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  header {
    margin: 100px 0 0 0;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  header {
    margin: 100px 0 0 0;
  }
}

