

<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Webstop Front-End Style Guide</h1>
  <p class="lead">The definitive source of styling guidelines for grocery website features.</p>
  <p class="lead">Build using a simple and flexible collection of HTML5 &amp; CSS3 frameworks for structure and style of user interface elements and components.
    Plus, Javascript plugins for compeling functionality and interactions.</p>
</header>





