<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Scaffolding</h1>
    <p class="lead">Bootstrap is built on responsive 12-column grids, layouts, and components.</p>
  </div>
</header>

<div class="container main-content">

  <!-- Docs nav
  ================================================== -->
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
        <li><a href="#global"><i class="icon-chevron-right"></i> Global styles</a></li>
        <!-- <li><a href="#gridSystem"><i class="icon-chevron-right"></i> Grid system</a></li> -->
        <li><a href="#fluidGridSystem"><i class="icon-chevron-right"></i> Fluid grid system</a></li>
        <li><a href="#layouts"><i class="icon-chevron-right"></i> Layouts</a></li>
        <li><a href="#responsive"><i class="icon-chevron-right"></i> Responsive design</a></li>
      </ul>
    </div>
    <div class="span9">

      <!-- Page Settings
      ================================================== -->
      <% section_path = 'guides/bootstrap/scaffolding/' %>
      <!-- makes navbar section highlighted -->
      <script>$('#scaffolding-nav').addClass('active');</script>

      <!-- Global Bootstrap settings
      ================================================== -->
      <%= render section_path + "global" %>

      <!-- Grid system
      ================================================== -->
      <!-- Going to try defaulting to the Fluid Grid -->
      <!-- = render section_path + "grid" -->

      <!-- Fluid grid system
      ================================================== -->
      <%= render section_path + "fluid-grid" %>

      <!-- Layouts (Default and fluid)
      ================================================== -->
      <%= render section_path + "layouts" %>

      <!-- Responsive design
      ================================================== -->
      <%= render section_path + "responsive" %>
    </div><!-- .span9 -->
  </div><!-- .row -->
</div><!-- .container.main-content -->

