<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Grocery Components</h1>
    <p class="lead">Reusable components for grocery module content and features.</p>
  </div>
</header>

<div class="container main-content">

  <!-- Docs nav
  ================================================== -->
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
        <li><a href="#"><i class="icon-chevron-right"></i> Add Shopping List Item</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i> Add Shopping List Items</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i> Embed Recipe</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i> Recipe Gallery</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i> Coupon</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i> Ad Item</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i> Store List</a></li>
      </ul>
    </div>
    <div class="span9">
      <secton class="why">
        <h1>Is this a crappy "under construction" page?</h1>
        <p>The short answer is, yes.</p>
        <h2>Why have you done such a crappy thing, Greg?</h2>
        <p>We see this as a section that will be expanded and worked on fairly early in our module conversion to rails process. We want everyone thinking about building reusable components related to Grocery Modules and to document them.</p>

      </section>

      <!-- Page Settings
      ================================================== -->
      <% section_path = 'guides/grocery/' %>
      <!-- makes navbar section highlighted -->
      <script>$('#grocery-components-nav').addClass('active');</script>
    </div><!-- .span9 -->
  </div><!-- .row -->
</div><!-- .container.main-content -->
