<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Grocery Components</h1>
  <p class="lead">Dozens of reusable components for grocery module content and features.</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shopping List <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#buttonGroups">Add Item</a></li>
          <li><a href="#buttonDropdowns">Add Listing</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Recipes <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#recipe">Recipe</a></li>
          <li><a href="#recipe-gallery">Recipe Gallery</a></li>
        </ul>
      </li>
      <li><a href="#labels">Coupon</a></li>
      <li><a href="#badges">Ad Item</a></li>
      <li><a href="#typography">Store List</a></li>
    </ul>
  </div>
</header>

<secton class="why">
  <h1>Is this a crappy "under construction" page?</h1>
  <p>The short answer is, yes.</p>
  <h2>Why have you done such a crappy thing, Greg?</h2>
  <p>We see this as a section that will be expanded and worked on fairly early in our module conversion to rails process. We want everyone thinking about building reusable components related to Grocery Modules and to document them.</p>

</section>

<!-- Page Settings
================================================== -->
<% section_path = 'guides/grocery/' %>
<!-- makes navbar section highlighted -->
<script>$('#grocery-components-nav').addClass('active');</script>

