.container
  %section#footer
    .navbar
      .navbar-inner
        %ul.nav
          %li
            %a.span.icon-home{:href => '/index'}
          %li
            %a{:href => '/locations/index'}
              %span.icon-location
          %li
            %a{:href => '/about_us'}
              %span.icon-user
          %li
            %a{:href => '/contact_us'}
              %span.icon-mail