.container
  %section#footer
    .navbar
      .navbar-inner
        %ul.nav
          %li
            -#%a.span.icon-home{:href => '/index'}
            =link_to "Home", home_path
          %li
            = link_to "Store Locations", locations_path
          %li
            = link_to "About Us", '/about_us'
          -#%li
            %a.span{:href => '/contact_us'}Contact Us
        %p.copyright= "&copy;".html_safe + " 2013 Northwest Grocers | Powered by Webstop"
