.container
  %section#footer
    .row-fluid
      .span12#social
        %h2
          Follow our progress on
        %ul
          %li
            %a{:href => 'https://www.facebook.com/Thriftway'}
              = image_tag "facebook.png"
              Facebook
          %li
            %a{:href => 'https://twitter.com/Thriftway'}
              = image_tag "twitter.png"
              Twitter
          %li
            %a{:href => 'http://pinterest.com/Thriftway/'}
              = image_tag "pinterest.png"
              Pinterest
          %li
            %a{:href => 'http://instagram.com/Thriftway'}
              = image_tag "instagram.png"
              Instagram

