.container
  #footer
    .row-fluid
      %h2
        Webstop.com, Inc.
      %span
        Digital Marketing Solutions for Grocers
      
      -#.social  
      -#  %p
      -#    %span.icon-twitter
      -#    %a{href: 'http://www.twitter.com/webstop', target: '_blank'} Twitter
      -#  %p
      -#    %span.icon-facebook
      -#    %a{href: 'https://www.facebook.com/pages/Webstopcom-Inc/232892230331', target: '_blank'} Facebook