.container
  %section#footer
    .navbar
      .navbar-inner
        %ul.nav
          %li
            -#%a.span.icon-home{:href => '/index'}
            %a.span{:href => '/index'}Home
          %li
            %a.span{:href => '/locations/index'}Store Locations
          %li
            %a.span{:href => '/about_us'}About Us
          -#%li
            %a.span{:href => '/contact_us'}Contact Us
        %p.copyright= "&copy;".html_safe + " 2013 Northwest Grocers | Powered by Webstop"
