#error_explanation.alert.alert-block.alert-error
  %a.close{'data-dismiss' => 'alert', :href => '#'} x
  %h2.alert-heading Oops! Something went wrong...
  %p
    %strong
      Please correct the following 
      = pluralize(@errors.count, "error")
  %ol
    - @errors.full_messages.each do |msg|
      %li= msg