.navbar.navbar-fixed-top
  .container
    %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.brand{:href => "#top"}
      = image_tag "index/logo.png"
    .nav-collapse
      %ul.nav
        %li#scaffolding-nav
          %a{:href => '#what-we-do'} What We Do
        %li#base-nav
          %a{:href => '#what-weve-done'} What We've Done
        %li#components-nav
          %a{:href => '#digital-grocery'} Digital Grocery
        %li#grocery-nav
          %a{:href => '#who-we-are'} Who We Are
        %li#javascript-nav
          %a{:href => '#contact-us'} Contact Us