.navbar
  .container
    %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    
    #logo-tagline
      %a.brand{:href => "index"}
        = image_tag "logo-thriftway-washington.png"

    .nav-collapse
      %ul.nav
        %li
          %a{:href => 'home'} Home
        %li
          %a{:href => 'locations/index'} Store Locations
        %li
          %a{:href => 'about_us'} About Us
        %li
          %a{:href => 'contact_us'} Contact Us
    .clear