.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/grocery_digital_marketing/index"}
        = image_tag "index/logo.png"
      .nav-collapse
        %ul.nav
          %li#scaffolding-nav
            %a{:href => '#'} What We Do
          %li#base-nav
            %a{:href => '#'} What We've Done
          %li#components-nav
            %a{:href => '#'} Digital Grocery
          %li#grocery-nav
            %a{:href => '#'} Who We Are
          %li#javascript-nav
            %a{:href => '#'} Contact Us