.navbar.navbar-fixed-top#top
  .container
    %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    #logo
      %a.brand{:href => "index#top"}
        = image_tag "index/logo.png"
    .nav-collapse
      %ul.nav
        %li#scaffolding-nav
          %a{:href => '/#top'} Home
        %li#base-nav
          %a{:href => '/#solutions'} Solutions
        %li#components-nav
          %a{:href => '/#features'} Features
        %li#grocery-nav
          %a{:href => '/#contact-us'} Contact Us
