<!-- Layouts (Default and fluid)
================================================== -->
<section id="layouts">
  <div class="page-header">
    <h1>Layouts</h1>
  </div>

  <div class="alert alert-block alert-error">
    <h4>Core App Note:</h4>
    <p>We should probably change this section to list the names of the actual rails layouts we plan on using. In Rails a layout is similiar to what we call a template in the Lasso world. We will probably have a standard set of layouts which contain the code for Bootstrap layouts, so we should simply list them here by file name.</p>
  </div>

  <h2>Fixed layout</h2>
  <p>Provides a common fixed-width (and responsive) layout with only <code>&lt;div class="container"&gt;</code> required.</p>
  <div class="mini-layout">
    <div class="mini-layout-body"></div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="fixed-layout-haml">
%body
  .container
    \...
</pre>
<pre class="prettyprint linenums tab-pane fade" id="fixed-layout-html">
&lt;body&gt;
  &lt;div class="container"&gt;
    ...
  &lt;/div&gt;
&lt;/body&gt;
</pre>
</div>
  <ul class="nav nav-pills example-types">
    <li class="active"><a href="#fixed-layout-haml" data-toggle="tab">HAML</a></li>
    <li><a href="#fixed-layout-html" data-toggle="tab">HTML</a></li>
  </ul>

  <h2>Fluid layout</h2>
  <p>Create a fluid, two-column page with <code>&lt;div class="container-fluid"&gt;</code>&mdash;great for applications and docs.</p>
  <div class="mini-layout fluid">
    <div class="mini-layout-sidebar"></div>
    <div class="mini-layout-body"></div>
  </div>
<div class="tab-content">
<pre class="prettyprint linenums tab-pane fade in active" id="fluid-layout-haml">
.container-fluid
  .row-fluid
    .span2
      / Sidebar content
    .span10
      / Body content
</pre>
<pre class="prettyprint linenums tab-pane fade" id="fluid-layout-html">
&lt;div class="container-fluid"&gt;
  &lt;div class="row-fluid"&gt;
    &lt;div class="span2"&gt;
      &lt;!--Sidebar content--&gt;
    &lt;/div&gt;
    &lt;div class="span10"&gt;
      &lt;!--Body content--&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>
</div>
  <ul class="nav nav-pills example-types">
    <li class="active"><a href="#fluid-layout-haml" data-toggle="tab">HAML</a></li>
    <li><a href="#fluid-layout-html" data-toggle="tab">HTML</a></li>
  </ul>
</section>
