<!-- Responsive design
================================================== -->
<section id="responsive">
  <div class="page-header">
    <h1>Responsive design <small>Media queries for various devices and resolutions</small></h1>
  </div>
  <div class="alert alert-info">
    <h4>New frontier</h4>
    <p>
      Using responsive design is a new approach for Webstop's app development. We will likely
      refine this section as our involvement progresses. For now we are starting off with
      Bootstrap's well though out responsive capabilities.
    </p>
  </div>
  <!-- Supported devices -->
  <div class="row">
    <div class="span4">
      <p><img src="/assets/guides/bootstrap/responsive-illustrations.png" alt="Responsive devices"></p>
      <h3>What they do</h3>
      <p>Media queries allow for custom CSS based on a number of conditions&mdash;ratios, widths, display type, etc&mdash;but usually focuses around <code>min-width</code> and <code>max-width</code>.</p>
      <ul>
        <li>Modify the width of column in our grid</li>
        <li>Stack elements instead of float wherever necessary</li>
        <li>Resize headings and text to be more appropriate for devices</li>
      </ul>
      <p>Use media queries responsibly and only as a start to your mobile audiences. For larger projects, do consider dedicated code bases and not layers of media queries.</p>
    </div><!-- /.span -->
    <div class="span8">
      <h2>Supported devices</h2>
      <p>Bootstrap supports a handful of media queries in a single file to help make your projects more appropriate on different devices and screen resolutions. Here's what's included:</p>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Label</th>
            <th>Layout width</th>
            <th>Column width</th>
            <th>Gutter width</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Smartphones</td>
            <td>480px and below</td>
            <td class="muted" colspan="2">Fluid columns, no fixed widths</td>
          </tr>
          <tr>
            <td>Smartphones to tablets</td>
            <td>767px and below</td>
            <td class="muted" colspan="2">Fluid columns, no fixed widths</td>
          </tr>
          <tr>
            <td>Portrait tablets</td>
            <td>768px and above</td>
            <td>42px</td>
            <td>20px</td>
          </tr>
          <tr>
            <td>Default</td>
            <td>980px and up</td>
            <td>60px</td>
            <td>20px</td>
          </tr>
          <tr>
            <td>Large display</td>
            <td>1200px and up</td>
            <td>70px</td>
            <td>30px</td>
          </tr>
        </tbody>
      </table>

      <h3>Requires meta tag</h3>
      <p>To ensure devices display responsive pages properly, include the viewport meta tag.</p>
      <pre class="prettyprint linenums">&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</pre>
    </div><!-- /.span -->
  </div><!-- /.row -->

  <br>

  <!-- Media query code -->
  <h2>Using the media queries</h2>
  <div class="row">
    <div class="span4">
      <p>
        When creating responsive designs use the following media query break points for the various target
        presentations.
      </p>
      <p>
        These break points match the devices listed in the chart above.
      </p>
    </div><!-- /.span -->
    <div class="span8">
<pre class="prettyprint linenums">
  // Landscape phones and down
  @media (max-width: 480px) { ... }

  // Landscape phone to portrait tablet
  @media (max-width: 767px) { ... }

  // Portrait tablet to landscape and desktop
  @media (min-width: 768px) and (max-width: 979px) { ... }

  // Large desktop
  @media (min-width: 1200px) { ... }</pre>
    </div><!-- /.span -->
  </div><!-- /.row -->
  <br>

  <!-- Responsive utility classes -->
  <h2>Responsive utility classes</h2>
  <div class="row">
    <div class="span4">
      <h3>What are they</h2>
      <p>For faster mobile-friendly development, use these basic utility classes for showing and hiding content by device.</p>
      <h3>When to use</h2>
      <p>Use on a limited basis and avoid creating entirely different versions of the same site. Instead, use them to complement each device's presentation.</p>
      <p>For example, you might show a <code>&lt;select&gt;</code> element for nav on mobile layouts, but not on tablets or desktops.</p>
    </div><!-- /.span -->
    <div class="span8">
      <h3>Support classes</h3>
      <p>Shown here is a table of the classes we support and their effect on a given media query layout (labeled by device). They can be found in <code>responsive.less</code>.</p>
      <table class="table table-bordered table-striped responsive-utilities">
        <thead>
          <tr>
            <th>Class</th>
            <th>Phones <small>480px and below</small></th>
            <th>Tablets <small>767px and below</small></th>
            <th>Desktops <small>768px and above</small></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><code>.visible-phone</code></th>
            <td class="is-visible">Visible</td>
            <td class="is-hidden">Hidden</td>
            <td class="is-hidden">Hidden</td>
          </tr>
          <tr>
            <th><code>.visible-tablet</code></th>
            <td class="is-hidden">Hidden</td>
            <td class="is-visible">Visible</td>
            <td class="is-hidden">Hidden</td>
          </tr>
          <tr>
            <th><code>.visible-desktop</code></th>
            <td class="is-hidden">Hidden</td>
            <td class="is-hidden">Hidden</td>
            <td class="is-visible">Visible</td>
          </tr>
          <tr>
            <th><code>.hidden-phone</code></th>
            <td class="is-hidden">Hidden</td>
            <td class="is-visible">Visible</td>
            <td class="is-visible">Visible</td>
          </tr>
          <tr>
            <th><code>.hidden-tablet</code></th>
            <td class="is-visible">Visible</td>
            <td class="is-hidden">Hidden</td>
            <td class="is-visible">Visible</td>
          </tr>
          <tr>
            <th><code>.hidden-desktop</code></th>
            <td class="is-visible">Visible</td>
            <td class="is-visible">Visible</td>
            <td class="is-hidden">Hidden</td>
          </tr>
        </tbody>
      </table>
      <h3>Test case</h3>
      <p>Resize your browser or load on different devices to test the above classes.</p>
      <h4>Visible on...</h4>
      <p>Green checkmarks indicate that class is visible in your current viewport.</p>
      <ul class="responsive-utilities-test">
        <li>Phone<span class="visible-phone">&#10004; Phone</span></li>
        <li>Tablet<span class="visible-tablet">&#10004; Tablet</span></li>
        <li>Desktop<span class="visible-desktop">&#10004; Desktop</span></li>
      </ul>
      <h4>Hidden on...</h4>
      <p>Here, green checkmarks indicate that class is hidden in your current viewport.</p>
      <ul class="responsive-utilities-test hidden-on">
        <li>Phone<span class="hidden-phone">&#10004; Phone</span></li>
        <li>Tablet<span class="hidden-tablet">&#10004; Tablet</span></li>
        <li>Desktop<span class="hidden-desktop">&#10004; Desktop</span></li>
      </ul>
    </div><!-- /.span -->
  </div><!-- /.row -->


  <div class="row">
    <div class="span4">
    </div><!-- /.span -->
  </div><!-- /.row -->
</section>
